@import "../../../less/vars.less";
.timeline{background-position: center center; background-size: cover;
	.timeline-ct{padding: @mm-vertical-padding 0;}
}

 /*===========================
// Import individual style  //
===========================*/
@import "style-1.less";
