//timeline 1 //Bestlawyer
.timeline-1{position: relative;
	.timeline-header{
		.timeline-title{}
		.timeline-subtitle{}
	}
	.timeline-intro{margin: 0 0 20px;}
	.timeline-row{
		.timeline-list{position: relative;
			&:before{content: ""; width: 1px; height: 100%; position: absolute;top: 0; left: 17px;bottom: 0; background: @t3-border-color; }
			.row{margin-top: 40px;
				.timeline-date{padding-top:5px;font-size: 24px;line-height: 24px;}
				.timeline-item{position: relative;
					&:before{content: "\f017";font-family: FontAwesome;font-size: 24px;color: @text-color;background: @t3-border-color; position: absolute;top: 0; left: -17px;border-radius: 50%; width: 34px; height: 34px;line-height: 23px;padding: 5px;text-align: center;}
					.timeline-content{padding: 15px;background: @t3-border-color;position: relative;
						&:before{border-width: 10px; border-style: solid; border-color:transparent @t3-border-color transparent transparent;content: ""; position: absolute;top: 10px; left: -20px;width: 20px;}
						.timeline-figure{display: inline-block; margin: 0 15px 15px 0;float: left;
							img{max-width: 100%;}
							i{font-size: 54px;}
						}
						.timeline-name{margin: 0 0 10px;}
						.timeline-desc{}
					}
				}
			}
			@media screen and (max-width:@screen-xs-max){
				.row{margin: 40px -15px 0 17px;
					.timeline-date{margin: 0 0 10px 30px;float: left!important;}
					.timeline-item{
						.timeline-content{margin-left: 30px;}
					}
				}
			}
			@media screen and (min-width:@screen-sm-min){
				&:before{left: 50%;}
				.row{
					.pull-left{padding-right: 45px;text-align: right;}
					.pull-right{padding-left: 45px;}
					&:nth-child(odd){
						.timeline-item{
							&:before{right: -17px;left:auto;}
							.timeline-content{
								.timeline-figure{float: right;margin: 0 0 15px 15px}
								&:before{border-width: 10px; border-style: solid; border-color: transparent transparent transparent @t3-border-color;content: ""; position: absolute;top: 10px;left: auto; right: -20px;width: 20px;}
							}
						}
					}
				}
			}
		}
	}
}