/**
 * @package     Joomla.admin
 * @subpackage  mod_ut_contact_pro
 * @copyright   Copyright (C) 2016 www.Unitemplates.com. All rights reserved.
 * @license     GNU General Public License version 2 or later; see LICENSE.txt
 */

/* Subform Repeatable table class*/
.ui-sortable{}
.ui-sortable .subform-repeatable-group{}
.ui-sortable .subform-repeatable-group .control-group{margin-bottom: 0;}
.ui-sortable .subform-repeatable-group .control-group .control-label{display: none;}
.ui-sortable .subform-repeatable-group .control-group .controls{margin-left: 0;}
