/**
 * @package     Joomla.Site
 * @subpackage  mod_ut_contact_pro
 * @copyright   Copyright (C) 2016 www.Unitemplates.com. All rights reserved.
 * @license     GNU General Public License version 2 or later; see LICENSE.txt
 */

/* Container and General class*/
.ut-ctc{}
.ut-ctc .ctc-ct{padding: 45px 0;}
.ut-ctc .ctc-ct .ctc-title{margin-top: 0;}
.ut-ctc .ctc-ct .ctc-intro{margin-bottom: 20px;}

/* Info Horizontal*/
.info-horizontal{text-align: center;}
.info-horizontal dl{}
.info-horizontal dl > dt{margin: 0 5px 0 15px;display: inline-block;line-height: 46px;}
.info-horizontal dl > dt:first-child{margin-left: 0;}
.info-horizontal dl > dt >i{font-size: 24px;margin-right: 5px;position: relative;top: 3px;}
.info-horizontal dl > dd{display: inline-block;line-height: 46px;}

/* Info Vertical */
.info-vertical{}
.info-vertical dl{}
.info-vertical dl > dt{margin-right: 5px; float: left;line-height: 46px;}
.info-vertical dl > dt > i{font-size: 24px;margin-right: 5px;position: relative;top: 3px;}
.info-vertical dl > dd{line-height: 46px;}

/* All Forms */
#ctc-form{}
#ctc-form input, textarea{width: 100%;height:auto;margin-bottom: 15px;}
#ctc-form input[type="text"], textarea{background-color: rgba(255, 255, 255, 0.5);}

/* Top Items */
.ctc-top{}
.ctc-top .form-horizontal{}
.ctc-top .google-map{margin-bottom: 20px;}
.ctc-top .info-horizontal{}

/* Bottom Items */
.ctc-bottom{}
.ctc-bottom .form-horizontal{}
.ctc-bottom .google-map{}
.ctc-bottom .info-horizontal{}
.ctc-bottom .info-horizontal dl{margin-bottom: 0;}

/* Left Items */
.ctc-left{}
.ctc-left .form-vertical{}
.ctc-left .google-map{}
.ctc-left .info-vertical{}

/* Right Items */
.ctc-right{}
.ctc-right .form-vertical{}
.ctc-right .google-map{}
.ctc-right .info-vertical{}

/* Responsive */
@media screen and (max-width:767px){
	.ctc-right{margin-top: 20px;}
}
