@import "../../../less/vars.less";
// Clients
.clients{background-size: cover;background-position: center center;
  .clients-ct{padding:  @mm-vertical-padding 0;}
}

 /*===========================
// Import individual style  //
===========================*/

@import "style-1.less";
@import "style-2.less";