//clients 1
.clients-1{
	.clients-header{margin-bottom: 20px;
		.clients-title{margin:0 0 15px;}
		.clients-subtitle{}
	}
	.clients-intro{}
	.clients-row{margin: 40px -15px 0;
		.clients-logo{text-align: center;
			a{
				img{opacity: 0.3; padding: 10px 0;margin: 0 auto;
					&:hover,
					&:focus{opacity: 1.0}
				}
			}
		}
	}
}