//clients 2
.clients-2{
	.clients-header{margin-bottom: 20px;
		.clients-title{margin:0 0 15px;}
		.clients-subtitle{}
	}
	.clients-intro{}
	.clients-row{margin-top: 40px;
		.clients-logo{text-align: center;
			a{
				img{padding: 10px 0;margin: 0 auto;
				}
			}
		}
	}
}