.testimonial {
  background-position: center center;
  background-size: cover;
}
.testimonial .testimonial-ct {
  padding: 60px 0;
}
.testimonial-1 {
  text-align: center;
}
.testimonial-1 .carousel-indicators {
  bottom: auto;
  position: relative;
  margin-top: 26px;
  margin-bottom: 0;
  z-index: 0;
}
.testimonial-1 .carousel-indicators li {
  margin: 0 5px;
  background: #555555;
  border: none;
  width: 15px;
  height: 15px;
}
.testimonial-1 .carousel-indicators li.active {
  background: #00cd66;
  width: 15px;
  height: 15px;
}
.testimonial-1 .testimonio {
  font-size: 14px;
  letter-spacing: .5px;
}
.testimonial-1 .testimonio .fa {
  font-size: 35px;
  margin-right: 10px;
}
.testimonial-1 .author-image {
  margin: 20px 0;
}
.testimonial-1 .author-image img {
  height: 120px;
  width: 120px;
  border-radius: 50%;
}
.testimonial-1 .author-name {
  text-transform: uppercase;
  margin-bottom: 15px;
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  letter-spacing: 3px;
  color: #222222;
  line-height: 1.1;
}
.testimonial-1 .author-position {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: normal;
}

.testimonial-2 .carousel-inner .item {
  padding: 0 40px;
}
.testimonial-2 .carousel-inner .item .testimonio {
  font-size: 20px;
  font-weight: normal;
}
.testimonial-2 .carousel-inner .item .testimonio .fa {
  font-size: 35px;
  margin-right: 10px;
}
.testimonial-2 .carousel-inner .item .author-image {
  margin-right: 20px;
  float: left;
}
.testimonial-2 .carousel-inner .item .author-image img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}
.testimonial-2 .carousel-inner .item .author-name {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 15px;
  color: #00cd66;
  display: inline-block;
  padding-right: 5px;
  border-right: 1px solid #dddddd;
}
.testimonial-2 .carousel-inner .item .author-position {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: normal;
  display: inline-block;
}
.testimonial-2 .carousel-control {
  top: 50%;
  left: 0;
  margin-top: -16px;
  width: 32px;
  height: 32px;
  border: 2px solid #00cd66;
  background: #00cd66;
  border-radius: 50%;
  text-align: center;
  line-height: 32px;
  text-shadow: none;
}
.testimonial-2 .carousel-control.left {
  background-image: none;
}
.testimonial-2 .carousel-control.right {
  left: auto;
  right: 0;
  background-image: none;
}
.testimonial-3 .testimonial-header .testimonial-title {
  text-align: center;
  margin: 0 0 10px;
}
.testimonial-3 .testimonial-header .testimonial-subtitle {
  text-align: center;
  margin: 0 0 10px;
}
.testimonial-3 .testimonial-intro {
  text-align: center;
  margin: 0 0 10px;
}
.testimonial-3 .owl-testimonial-3 {
  margin: 40px 0 0;
}
.testimonial-3 .owl-testimonial-3 .owl-stage-outer {
  margin-bottom: 40px;
}
.testimonial-3 .owl-testimonial-3 .owl-stage-outer .owl-stage .owl-item .item {
  background: #ffffff;
  padding: 20px;
}
.testimonial-3 .owl-testimonial-3 .owl-stage-outer .owl-stage .owl-item .item .author-image {
  margin: 0 15px 15px 0 ;
  float: left;
}
@media screen and (max-width: 479px) {
  .testimonial-3 .owl-testimonial-3 .owl-stage-outer .owl-stage .owl-item .item .author-image {
    float: none;
  }
}
.testimonial-3 .owl-testimonial-3 .owl-stage-outer .owl-stage .owl-item .item .author-image img {
  width: inherit;
}
.testimonial-3 .owl-testimonial-3 .owl-stage-outer .owl-stage .owl-item .item .author-name {
  font-size: 16px;
  font-weight: 700;
  margin-right: 40px;
}
.testimonial-3 .owl-testimonial-3 .owl-stage-outer .owl-stage .owl-item .item .author-position {
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
}
.testimonial-3 .owl-testimonial-3 .owl-stage-outer .owl-stage .owl-item .item .fa {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 36px;
  color: #00cd66;
}
.testimonial-3 .owl-testimonial-3 .owl-stage-outer .owl-stage .owl-item .item .testimonio {
  margin: 10px 0 0;
}
.testimonial-3 .owl-theme .owl-dots .owl-dot span {
  width: 12px;
  height: 12px;
  margin: 5px 7px;
  background: #777777;
}
.testimonial-3 .owl-theme .owl-dots .active span,
.testimonial-3 .owl-theme .owl-dots .owl-dot:hover span {
  background: #00cd66;
}
.testimonial-4 .testimonial-header .testimonial-title {
  text-align: center;
  margin: 0 0 10px;
}
.testimonial-4 .testimonial-header .testimonial-subtitle {
  text-align: center;
  margin: 0 0 10px;
}
.testimonial-4 .testimonial-intro {
  text-align: center;
  margin: 0 0 10px;
}
.testimonial-4 .owl-testimonial-4 {
  margin: 40px 0 0;
}
.testimonial-4 .owl-testimonial-4 .owl-stage-outer {
  margin-bottom: 40px;
}
.testimonial-4 .owl-testimonial-4 .owl-stage-outer .owl-stage .owl-item .item {
  padding: 0;
}
.testimonial-4 .owl-testimonial-4 .owl-stage-outer .owl-stage .owl-item .item .item-left {
  background: #ffffff;
  margin-left: -15px;
  padding: 15px;
  border-radius: 20px 0;
}
@media screen and (max-width: 767px) {
  .testimonial-4 .owl-testimonial-4 .owl-stage-outer .owl-stage .owl-item .item .item-left {
    margin-right: -15px;
  }
}
.testimonial-4 .owl-testimonial-4 .owl-stage-outer .owl-stage .owl-item .item .item-left .author-image {
  margin: 0 0 15px 15px ;
  float: right;
}
.testimonial-4 .owl-testimonial-4 .owl-stage-outer .owl-stage .owl-item .item .item-left .author-image img {
  border-radius: 15px 0;
}
.testimonial-4 .owl-testimonial-4 .owl-stage-outer .owl-stage .owl-item .item .item-left .author-name {
  margin-top: 0;
  text-align: right;
}
.testimonial-4 .owl-testimonial-4 .owl-stage-outer .owl-stage .owl-item .item .item-left .author-position {
  text-transform: uppercase;
  font-size: 12px;
  text-align: right;
}
.testimonial-4 .owl-testimonial-4 .owl-stage-outer .owl-stage .owl-item .item .item-left .testimonio {
  margin: 10px 0 0;
  text-align: right;
}
.testimonial-4 .owl-testimonial-4 .owl-stage-outer .owl-stage .owl-item .item .item-right {
  background: #ffffff;
  margin-right: -15px;
  padding: 15px;
  border-radius: 0 20px;
}
@media screen and (max-width: 767px) {
  .testimonial-4 .owl-testimonial-4 .owl-stage-outer .owl-stage .owl-item .item .item-right {
    margin-left: -15px;
    margin-top: 30px;
  }
}
.testimonial-4 .owl-testimonial-4 .owl-stage-outer .owl-stage .owl-item .item .item-right .author-image {
  margin: 0 15px 15px 0 ;
  float: left;
}
.testimonial-4 .owl-testimonial-4 .owl-stage-outer .owl-stage .owl-item .item .item-right .author-image img {
  border-radius: 0 15px;
}
.testimonial-4 .owl-testimonial-4 .owl-stage-outer .owl-stage .owl-item .item .item-right .author-name {
  margin-top: 0;
}
.testimonial-4 .owl-testimonial-4 .owl-stage-outer .owl-stage .owl-item .item .item-right .author-position {
  text-transform: uppercase;
  font-size: 12px;
}
.testimonial-4 .owl-testimonial-4 .owl-stage-outer .owl-stage .owl-item .item .item-right .testimonio {
  margin: 10px 0 0;
}
.testimonial-4 .owl-testimonial-4 .owl-controls .owl-nav .owl-prev,
.testimonial-4 .owl-testimonial-4 .owl-controls .owl-nav .owl-next {
  padding: 6px 12px;
  text-transform: uppercase;
}
.testimonial-6 .tab-content .tab-pane .testimonial-item {
  text-align: center;
}
.testimonial-6 .tab-content .tab-pane .testimonial-item .testimonial-name .name {
  text-transform: uppercase;
}
.testimonial-6 .tab-content .tab-pane .testimonial-item .testimonial-name .name:before,
.testimonial-6 .tab-content .tab-pane .testimonial-item .testimonial-name .name:after {
  content: "\f10d";
  display: inline-block;
  font-family: FontAwesome;
  margin-right: 15px;
}
.testimonial-6 .tab-content .tab-pane .testimonial-item .testimonial-name .name:after {
  content: "\f10e";
  margin-right: 0;
  margin-left: 15px;
}
.testimonial-6 .tab-content .tab-pane .testimonial-item .testimonial-name .position {
  margin-bottom: 20px;
}
.testimonial-6 .tab-content .tab-pane .testimonial-item .testimonio {
  margin-bottom: 40px;
}
.testimonial-6 .nav-tabs {
  border: none;
  text-align: center;
}
.testimonial-6 .nav-tabs .testimonial-image {
  float: none;
  display: inline-block;
}
.testimonial-6 .nav-tabs .testimonial-image a {
  border: 8px solid #00cd66;
  border-radius: 50%;
  padding: 0;
  overflow: hidden;
  transform: scale(0.6);
  webkit-transform: scale(0.6);
}
.testimonial-6 .nav-tabs .testimonial-image.active a {
  transform: scale(1);
  -webkit-transform: scale(1);
}
.testimonial-6 .nav-tabs .testimonial-image.active a:hover,
.testimonial-6 .nav-tabs .testimonial-image.active a:focus {
  border: 8px solid #00cd66;
}