// Skills1
.skill-1{
	.skill-header{
		.skill-title{text-align: left;}
		.skill-subtitle{text-align: left;}
	}
	.skill-intro{text-align: left;}
	.skill-row{margin: 40px -15px 0;
		.skill-container{
			.skillbar{
				width: 100%;
				height: 50px;
				-moz-border-radius: 3px;
				-webkit-border-radius: 3px;
				border-radius: 3px;
				background: #eee;
				position:relative;
				margin-bottom:40px;
				color: @black;
			}
			&:last-child{
				.skillbar{margin-bottom: 0;}
			}
			.count-bar{
				position:absolute;
				background-color: @gray-lighter;
				height:10px;
				left:0;
				bottom:0;
			}
			.title{
				padding-left:12px;
				line-height:40px;
				text-transform:none;
				font-family: 'Oswald', sans-serif;
			}
			.count{
				width:100%;
				height:100%;
				position:relative;
			}
			.count span{
				position:absolute;
				right:0;
				top:-40px;
				font-size:20px;
				font-weight:700;
				line-height:40px;
			}
		}
	}
}