// Skills Style 2
.skill-2{
	.skill-header{
		.skill-title{text-align: center;}
		.skill-subtitle{text-align: center;}
	}
	.skill-intro{text-align: center;}
	.skill-row{margin: 40px -15px 0;
		.skill-container{
			.skillbar{
				height: 30px;
				-moz-border-radius: 3px;
				-webkit-border-radius: 3px;
				border-radius: 3px;
				background: #eeeeee;
				position:relative;
				margin-bottom:30px;
				color: #fff;
			}
			.count-bar{
				height: 100%;
				width:0px;
				position:relative;
				-moz-border-radius: 3px;
				-webkit-border-radius: 3px;
				border-radius: 3px;
				background:@brand-primary;
			}
			.title{
				font-size:14px;
				font-weight:400;
				padding-left:12px;
				line-height:30px;
				text-transform:uppercase;
			}
			.count{
				position:absolute;
				top:0;
				right:12px;
				line-height:30px;
				font-size:14px;
				font-weight:400;
			}
		}
	}
}