// Skill 3 Counter
.skill-3{
	.skill-header{
		.skill-title{text-align: center;margin-bottom: 40px;}
		.skill-subtitle{text-align: center;}
	}
	.skill-intro{text-align: center;margin-bottom: 40px;}
	.skill-row{margin: 0 -15px -40px;overflow: hidden;
		.skill-container{text-align: center;padding-bottom: 40px;
			&:nth-last-child(2){border-right: none;}
			@media screen and(max-width:@screen-xs-max){border-right: none;}
			.count-icon{position: relative;
				img{}
				i{ font-size: 60px; line-height: 36px;color: @white;}
			}
			.count-ctrl{padding: 30px 0;
				.count-count{}
				span{font-size: 50px;color: @white;font-weight: 400;line-height: 1.1;}
			}
			.count-name{text-transform: uppercase;color: @gray-lightest;letter-spacing: 3px;}
			.count-desc{}
		}
	}
}