@import "../../../less/vars.less";
.skill{background-size: cover;background-position: center center;
	.skill-ct{padding: @mm-vertical-padding 0;}
}

 /*===========================
// Import individual style  //
===========================*/
@import "style-1.less";
@import "style-2.less";
@import "style-3.less";
@import "style-4.less";
