.default {
  background-position: center center;
  background-size: cover;
}
.default .default-ct {
  padding: 60px 0;
}
.default .default-ct .default-1 {
  position: relative;
  text-align: center;
}
.default .default-ct .default-1 .default-intro {
  margin: 0 0 20px;
}