//action 1
.action-1{text-align: center;
	.action-title{margin:0 0 20px;color: @white;}
	.action-intro{font-size: inherit;color: @white;}
	.action-links{margin-top: 40px;
		a{margin-left: 20px;
			&:first-child{margin-left: 0;}
			&.btn-default{border-color: @white;color: @white;
				&:hover, &:focus{color: @brand-primary; background-color: @white;}
			}
		}
	}
}