//action 2
.action-2{
	.action-row{margin: 0 -15px;
		.action-image{margin-bottom: 25px;
			@media screen and (max-width: @screen-xs-max){
				img{margin: 0 auto;}
			}
		}
		.pull-left{
			img{float: right;
				@media screen and (max-width: @screen-xs-max){float: none;}
			}
		}
		.action-content{
			.action-title{margin:0 0 15px;font-weight: 700;font-size:30px;}
			.action-intro{font-size: 16px;}
			.action-links{margin-top: 40px;
				a{margin-left: 20px;
					&:first-child{margin-left: 0;}
				}
			}
			@media screen and (max-width: @screen-xs-max){text-align: center;}
		}
	}
}