@import "../../../less/vars.less";
//Action container Styles
.action{background-size: cover;background-position: center center;
	.action-ct{padding:  @mm-vertical-padding 0;}
}

 /*===========================
// Import individual style  //
===========================*/

@import "style-1.less";
@import "style-2.less";