/** 
 *------------------------------------------------------------------------------
 * @package       T3 Framework for Joomla!
 *------------------------------------------------------------------------------
 * @copyright     Copyright (C) 2004-2013 JoomlArt.com. All Rights Reserved.
 * @license       GNU General Public License version 2 or later; see LICENSE.txt
 * @authors       JoomlArt, JoomlaBamboo, (contribute to this project at github 
 *                & Google group to become co-author)
 * @Google group: https://groups.google.com/forum/#!forum/t3fw
 * @Link:         http://t3-framework.org 
 *------------------------------------------------------------------------------
 */


// --------------------------------------------------
// MODULE STYLES
// --------------------------------------------------

// For Parallax modules
div[class*="parallax"]{
  > div{background-attachment: fixed;}
}

//UT Contact Pro
.ut-ctc{
  .ctc-ct{
    .ctc-title{margin-bottom: 40px;text-align: center;}
    #ctc-form{
      input, textarea{margin-bottom:@t3-global-margin;}
    }
  }
}
// 
// GENECRIC MODULE
// --------------------------------------------------
.t3-module {
  background: @t3-module-bg;
  color: @t3-module-color;
  margin-bottom: @line-height-computed;

  // Larger margin on Tablet / Desktop
  @media screen and (min-width: @screen-sm) {
    margin-bottom: @line-height-computed + 14;
  }

  // Module padding
  .module-inner {
    padding: @t3-module-padding;
  }
  &:last-child{margin-bottom: 0;}
}

// Module Title
// ------------
.module-title {
  background: @t3-module-title-bg;
  color: @t3-module-title-color;
  margin: 0 0 (@line-height-computed / 2) 0;
  padding: @t3-module-title-padding;
  text-transform: uppercase;

  // Larger margin on Tablet / Desktop
  @media screen and (min-width: @screen-sm) {
    margin-bottom: @line-height-computed;
  }

}

// Module Content
// --------------
.module-ct {
  background: @t3-module-content-bg;
  color: @t3-module-content-color;
  padding: @t3-module-content-padding;
  .clearfix();
}

// Module List
// -----------
.module-ct,
.module-ct .custom {
  > ul,
  > ol {
    margin-left: 20px;
    padding-left: 0;
  }
  
  > ul.unstyled,
  > ol.unstyled {
    padding-left: 0;
  }

  > ul.nav,
  > ol.nav {
    padding-left: 0;
    margin-left: 0;
  }
}

//
// NEWSLETTER MODULES
//----------------------------------------------------
.newsletter-mod{
  #description{margin: 0 0 (@t3-global-margin / 2);text-align: left;color: @t3-footer-text-color;}
  #signup{position: relative;
    #response{margin: 0;}
    input{}
    button{position: absolute;bottom: 0; right: 0;height: 40px;background: @brand-primary;color: @white;border:1px solid @brand-primary;padding: 0 12px;font-size: 24px;border-radius: 0 4px 4px 0;}
  }
}

//
// JOOMLA! MODULES
// --------------------------------------------------

// Menu
// ----
.module_menu {
  .nav {
  }
  
  .nav > li {
  }
  
  .nav > li > a,
  .nav > li > .separator {
    padding: @padding-base-vertical 5px;
    display: block;
    text-transform: uppercase;
    font-weight: 600;
  }

  // Hover state
  .nav > li > a:hover {
  }
  
  // Active state
  .nav > li.active > a {
  }
}

// News Flash
//--------------------------
.news{
  padding: @mm-vertical-padding 0;
  .module-title{text-align: center;margin-bottom: 40px;
    h2{font-size: @font-size-h1;}
  }
  .news-ct{padding: 0;margin-bottom: -40px;overflow: hidden;}
}
.news-item{padding-bottom: 40px;
  .newsflash-title{text-transform: uppercase;
    a{color: @headings-color;
      &:hover, &:focus{color: @link-color;}
    }
  }
  .readmore{display: block;text-align: right;
    i{position: relative;top: 2px;}
  }
}

// News Flash Vertical
.news-vertical{
  @media screen and(min-width:@screen-sm-min){
    .type-module{
      .type-link{
        a{padding: 50px 18px;font-size: @font-size-large;}
      }
      .type-quote{padding: 30px 18px;}
    }
  }
  .news-ct .news-item{padding-bottom: 20px;
    .newsflash-title{text-transform: capitalize;}
    p{margin-bottom: 0;}
  }
}

// News Flash home
.news .news-ct .news-item{
  @media screen and(min-width: @screen-md-min){
    .type-link{
      a{padding: 50px 18px;}
    }
    .type-quote{padding: 30px 18px;}
  }
}

// Owl Dots in modules
.owl-theme .owl-dots .owl-dot{
  &.active{
    span{background: @link-color!important;}
  }
  span{width: 15px!important; height: 15px!important;background: @text-color!important;}
}

// Login Form
// ----------
#login-form {
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
  }
  
  .btn-primary {
  }
  
  ul.unstyled {
    margin-top: @line-height-computed;
    padding-left: 0;
    text-align: center;
    li{list-style: none;display: inline-block;width: 32%;text-align: center;border:1px solid @t3-border-color;border-radius: @border-radius-base;
      a{font-size: 18px;color: @gray;}
      &:hover, &:focus{border-color: @brand-primary;
        a{color: @link-color;}
      }
    }
  }

  #form-login-username {
  }
  
  #form-login-password {
  }
  
  #form-login-remember {
    label {
      font-weight: normal;
    }
  }

}


// Advertisement
// -------------
.bannergroup {
}

.banneritem {
  a {
    font-weight: bold;
  }
}

.bannerfooter {
  border-top: 1px solid @t3-border-color;
  font-size: @t3-font-size-smaller;
  padding-top: @t3-global-padding / 2;
  text-align: right;
}


// Categories
// ----------
.categories-module, ul.categories-module,
.category-module, ul.category-module {
  margin: 0;

  li {
    list-style: none;
    padding: (@line-height-computed / 2) 0;
    border-top: 1px solid @t3-border-color;
    // Remove border for first item
    &:first-child {
      border-top: 0;
    }
    &:hover, &:focus{
      h4 a{color: @link-color;}
    }
  }
  
  h4 {
    font-size: @font-size-base;
    font-weight: 300;
    margin: 0;
    font-family: 'Arimo', sans-serif;
    letter-spacing: inherit;
    a{color: @text-color;}
  }
}


// News Feed
// ----------
.feed {
  // Feed Title
  h4 {
    font-weight: bold;
  }
  // Feed list
  .newsfeed,
  ul.newsfeed {
    border-top: 1px solid @hr-border;
    li {}
    .feed-link, 
    h5.feed-link {
      font-size: @font-size-base;
      font-weight: normal;
      margin: 0;
    }
  }

}


// Latest Users 
// ------------
.latestusers,
ul.latestusers {
  margin-left: 0;
  li {
    background: @gray-lighter;
    display: inline-block;
    padding: 5px 10px;
    border-radius: @border-radius-base;
  }
}


// Stats 
// -----
.stats-module {
  dt, dd {
    display: inline-block;
    margin: 0;
  }
  dt {
    font-weight: bold;
    width: 35%;
  }
  dd {
    width: 60%;
  }
}


// Popular Tags
//-------------
.tagspopular {
  ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
  }

  ul > li {
    color: @gray;
    display: inline-block;
    margin: 0 5px 10px 0;
  }

  ul > li > a {
    background: transparent;
    border: 1px solid @t3-border-color;
    border-radius: 3px;
    color: @text-color;
    display: block;
    padding: 2px 10px;
    // Links states
    &:hover,
    &:focus,
    &:active {
      color: @link-color;
      border-color: @link-color;
      text-decoration: none;
    }
  }
}



// Similar tags
// ------------
.tagssimilar {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  ul > li {
    border-bottom: 1px solid @gray-lighter;
    padding: 8px 0;
  }

  ul > li > a {
    color: @gray;
    // Link states
    &:hover,
    &:focus,
    &:active {
      color: @link-hover-color;
    }
  }
}


// Breadcrums Module
// -----------------
.module-ct > ol.breadcrumb {
  padding: @padding-base-vertical @padding-base-horizontal;
  margin-left: 0;
}

