/** 
 *------------------------------------------------------------------------------
 * @package       T3 Framework for Joomla!
 *------------------------------------------------------------------------------
 * @copyright     Copyright (C) 2004-2013 JoomlArt.com. All Rights Reserved.
 * @license       GNU General Public License version 2 or later; see LICENSE.txt
 * @authors       JoomlArt, JoomlaBamboo, (contribute to this project at github 
 *                & Google group to become co-author)
 * @Google group: https://groups.google.com/forum/#!forum/t3fw
 * @Link:         http://t3-framework.org 
 *------------------------------------------------------------------------------
 */


// -------------------------------------------------------
//  DEFAULT BOOTSTRAP NAVBAR (navbars.less)
// -------------------------------------------------------

// Base Navbars
// --------------------------------------------------
.navbar {
  @media (min-width: @grid-float-breakpoint) {
  }
}


// Navbar heading
// --------------
.navbar-header {
  @media (min-width: @grid-float-breakpoint) {
  }
}


// Navbar collapse (body)
// ----------------------
.navbar-collapse {
  @media (min-width: @grid-float-breakpoint) {
  }
}


// Brand/project name
// ------------------
.navbar-brand {
  // Link states
  &:hover,
  &:focus {
  }
  @media (min-width: @grid-float-breakpoint) {
  }
}


// Navbar toggle
// -------------
.navbar-toggle {

  padding: 0;
  height: 35px;
  line-height: 35px;
  width: 35px;
  margin-left: @navbar-padding-horizontal;

  // Bars
  .fa-bars {
  }

  // Hide on breakpoint
  @media (min-width: @grid-float-breakpoint) {
    display: none;
  }
}


// Navbar nav links
// ----------------
.navbar-nav {
  margin: (@navbar-padding-vertical / 2) -@navbar-padding-horizontal;

  > li > a {
  }

  // T3 Note: Dropdown Menu styles when collapsed
  // Dropdowns get custom display when collapsed
  @media (max-width: @screen-xs-max) {
    .open .dropdown-menu {
      > li > a,
      .dropdown-header {
      }
      > li > a {
        // Link states
        &:hover,
        &:focus {
        }
      }
    }
  }

  // T3 Note: Main Styles for breakpoint
  // Uncollapse the nav
  @media (min-width: @grid-float-breakpoint) {
    margin: 0;
    > li {
      > a {
      }
    }
  }

  // End
}


// Navbar form
// ------------
.navbar-form {
}


// Dropdown in navbars
// -------------------
// Menu position and menu carets
.navbar-nav > li > .dropdown-menu {border-radius: 0 0 2px 2px;
}


// Buttons in navbars
// ------------------
.navbar-btn {
}


// Text in navbars
// ---------------
.navbar-text {
}



// Default Navbars (Visual Style only)
// --------------------------------------------------
.navbar-default {
  background-color: @navbar-default-bg;
  border-bottom-color: @navbar-default-border;
  border-top: none;

  .navbar-brand {
    color: @navbar-default-brand-color;
    &:hover,
    &:focus {
      color: @navbar-default-brand-hover-color;
      background-color: @navbar-default-brand-hover-bg;
    }
  }

  .navbar-text {
    color: @navbar-default-color;
  }

  .navbar-nav {
    @media screen and (min-width:@screen-sm-min){float: right;}
    > li > a {
      color: @navbar-default-link-color;
      font-size: @t3-font-size-small;
      text-transform: uppercase;
      font-weight: 600;
      padding-left:12px;
      padding-right: 12px;

      &:hover,
      &:focus {
        color: @navbar-default-link-hover-color;
        background-color: @navbar-default-link-hover-bg;
      }
    }

    > li > .nav-header {
      color: @navbar-default-link-color;
      display: inline-block;
      padding-top: @t3-global-padding * 0.75;
      padding-bottom: @t3-global-padding * 0.75;
    }

    > .active > a {
      &,
      &:hover,
      &:focus {
        color: @navbar-default-link-active-color;
        background-color: @navbar-default-link-active-bg;
      }
    }
    > .current > a{color: @navbar-default-link-active-color;}
    > .disabled > a {
      &,
      &:hover,
      &:focus {
        color: @navbar-default-link-disabled-color;
        background-color: @navbar-default-link-disabled-bg;
      }
    }
  }

  .navbar-toggle {
    border-color: @navbar-default-toggle-border-color;
    &:hover,
    &:focus {
      background-color: @navbar-default-toggle-hover-bg;
    }
    .icon-bar {
      background-color: @navbar-default-toggle-icon-bar-bg;
    }
  }

  .navbar-collapse,
  .navbar-form {
    border-color: @navbar-default-border;
  }

  // Dropdown menu items and carets
  .navbar-nav {
    // Caret should match text color on hover
    > .dropdown{
      &:hover, &:focus{
        > a .caret{
          border-top-color: @navbar-default-link-hover-color;
          border-bottom-color: @navbar-default-link-hover-color;
        }
      }
    }

    // Remove background color from open dropdown
    > .open > a {
      &,
      &:hover,
      &:focus {
        background-color: @navbar-default-link-active-bg;
        color: @navbar-default-link-active-color;
        .caret {
          border-top-color: @navbar-default-link-active-color;
          border-bottom-color: @navbar-default-link-active-color;
        }
      }
    }
    > .dropdown > a .caret {
      border-top-color: @navbar-default-link-color;
      border-bottom-color: @navbar-default-link-color;
    }


    @media (max-width: @screen-xs-max) {
      // Dropdowns get custom display when collapsed
      .open .dropdown-menu {
        > li > a {
          color: @navbar-default-link-color;
          &:hover,
          &:focus {
            color: @navbar-default-link-hover-color;
            background-color: @navbar-default-link-hover-bg;
          }
        }
        > .active > a {
          &,
          &:hover,
          &:focus {
            color: @navbar-default-link-active-color;
            background-color: @navbar-default-link-active-bg;
          }
        }
        > .disabled > a {
          &,
          &:hover,
          &:focus {
            color: @navbar-default-link-disabled-color;
            background-color: @navbar-default-link-disabled-bg;
          }
        }
      }
    }
  }


  // Links in navbars
  //
  // Add a class to ensure links outside the navbar nav are colored correctly.
  .navbar-link {
    color: @navbar-default-link-color;
    &:hover {
      color: @navbar-default-link-hover-color;
    }
  }

}



// -------------------------------------------------------
//  T3 MAIN MENU
// -------------------------------------------------------
.t3-mainnav {
  border-left: 0;
  border-right: 0;
  margin-bottom: 0;
  border-radius: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;


  // Navbar
  // -------
  .t3-navbar {
    padding-left: 0;
    padding-right: 0;
  }


  // Collapse Navbar
  // ---------------
  .t3-navbar-collapse {

    // Hide the generated navbar on breakpoint
    @media (min-width: @grid-float-breakpoint) {
      display: none !important;
    }

    // Navbar nav links
    // ----------------
    .navbar-nav {
      margin: 0 -@navbar-padding-horizontal;

      //font awesome
      li > a .fa {
        margin-right: 5px;
      }

      > li > a {
        border-top: 1px solid @navbar-default-border;
      }

      > li:first-child  > a {
        border-top: 0;
      }

      // Dropdown Menu
      .open .dropdown-menu {

        > li > a,
        .dropdown-header {
        }

        > li > a {
          // Link states
          &:hover,
          &:focus {
          }
        }

      }

      // Re-Align the caret on right
      .dropdown > a {
        .caret {
          position: absolute;
          top: 40%;
          right: @padding-base-horizontal;
        }
      }
    }

  // End Collapse Navbar
  }

// End
}
