//follow-2 Arlina
.follow-2{text-align: center;
	.follow-header{padding: 45px 0 20px;
		.follow-title{margin:0;}
	}
	.follow-row{
		.follow-item{padding: 35px;
			i{font-size: 40px;}
		}
	}
	.follow-header + .follow-row{padding-bottom: 45px;}
}