//follow-1 Arlina
.follow-1{
	.follow-header{padding: 45px 0 20px;
		.follow-title{margin:0;}
	}
	.follow-row{
		a{text-align: center;display: inline-block;
		}
	}
	.follow-header + .follow-row{padding-bottom: 45px;}
}