//follow-3 Unitemplates
.follow-3{text-align: center;
	.follow-header{padding: 45px 0 20px;
		.follow-title{margin:0;}
	}
	.follow-row{margin: 0 -15px;
		.follow-item{
			a{display: block;padding: 15px 10px;text-decoration: none;
				i{font-size: 24px;}
				span{margin-left: 5px; position: relative;top: -4px;text-transform: uppercase;}
			}
		}
	}
	.follow-header + .follow-row{padding-bottom: 45px;}
}