.clients {
  background-size: cover;
  background-position: center center;
}
.clients .clients-ct {
  padding: 60px 0;
}
.clients-1 .clients-header {
  margin-bottom: 20px;
}
.clients-1 .clients-header .clients-title {
  margin: 0 0 15px;
}
.clients-1 .clients-row {
  margin: 40px -15px 0;
}
.clients-1 .clients-row .clients-logo {
  text-align: center;
}
.clients-1 .clients-row .clients-logo a img {
  opacity: 0.3;
  padding: 10px 0;
  margin: 0 auto;
}
.clients-1 .clients-row .clients-logo a img:hover,
.clients-1 .clients-row .clients-logo a img:focus {
  opacity: 1.0;
}

.clients-2 .clients-header {
  margin-bottom: 20px;
}
.clients-2 .clients-header .clients-title {
  margin: 0 0 15px;
}
.clients-2 .clients-row {
  margin-top: 40px;
}
.clients-2 .clients-row .clients-logo {
  text-align: center;
}
.clients-2 .clients-row .clients-logo a img {
  padding: 10px 0;
  margin: 0 auto;
}