.sp-simpleportfolio {
  padding: 0;
}
.sp-simpleportfolio .sp-simpleportfolio-filter {
  margin-bottom: 40px !important;
}
.sp-simpleportfolio .sp-simpleportfolio-filter > ul > li {
  margin: 0 5px 5px 0!important;
}
.sp-simpleportfolio .sp-simpleportfolio-filter > ul > li.active > a {
  background-color: transparent !important;
  border-color: #ff0066;
  color: #ff0066 !important;
}
.sp-simpleportfolio .sp-simpleportfolio-filter > ul > li > a {
  border: 1px solid #dddddd;
  font-size: 13px;
  text-transform: capitalize;
  height: 33px;
  line-height: 33px;
  text-decoration: none;
  background: transparent !important;
  padding: 0 10px!important;
  letter-spacing: 1px;
}
.sp-simpleportfolio .sp-simpleportfolio-filter > ul > li > a:hover,
.sp-simpleportfolio .sp-simpleportfolio-filter > ul > li > a:focus {
  border-color: #ff0066;
  color: #ff0066;
}
.sp-simpleportfolio .sp-simpleportfolio-items .sp-simpleportfolio-item .sp-simpleportfolio-overlay-wrapper .sp-simpleportfolio-overlay {
  height: 100%;
  top: -100%;
  bottom: inherit;
  transition: all 300ms;
  -webkit-transition: all 300ms;
}
.sp-simpleportfolio .sp-simpleportfolio-items .sp-simpleportfolio-item .sp-simpleportfolio-overlay-wrapper .sp-simpleportfolio-overlay .sp-vertical-middle .sp-simpleportfolio-title,
.sp-simpleportfolio .sp-simpleportfolio-items .sp-simpleportfolio-item .sp-simpleportfolio-overlay-wrapper .sp-simpleportfolio-overlay .sp-vertical-middle .sp-simpleportfolio-tags {
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  font-weight: 300;
}
.sp-simpleportfolio .sp-simpleportfolio-items .sp-simpleportfolio-item .sp-simpleportfolio-info {
  text-align: center;
}
.sp-simpleportfolio .sp-simpleportfolio-items .sp-simpleportfolio-item .sp-simpleportfolio-info .sp-simpleportfolio-title {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 1;
  letter-spacing: 1px;
}
.sp-simpleportfolio .sp-simpleportfolio-items .sp-simpleportfolio-item .sp-simpleportfolio-info .sp-simpleportfolio-tags {
  text-transform: capitalize;
}
.sp-simpleportfolio .sp-simpleportfolio-items .sp-simpleportfolio-item:hover .sp-simpleportfolio-overlay-wrapper .sp-simpleportfolio-overlay,
.sp-simpleportfolio .sp-simpleportfolio-items .sp-simpleportfolio-item:focus .sp-simpleportfolio-overlay-wrapper .sp-simpleportfolio-overlay {
  background: rgba(255, 0, 102, 0.7);
  top: 0;
}
.sp-simpleportfolio .sp-simpleportfolio-items .sp-simpleportfolio-item:hover .sp-simpleportfolio-overlay-wrapper .sp-simpleportfolio-overlay .sp-vertical-middle .sp-simpleportfolio-title,
.sp-simpleportfolio .sp-simpleportfolio-items .sp-simpleportfolio-item:focus .sp-simpleportfolio-overlay-wrapper .sp-simpleportfolio-overlay .sp-vertical-middle .sp-simpleportfolio-title {
  text-transform: uppercase;
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transition-delay: 300ms;
  -webkit-transition-delay: 300ms;
}
.sp-simpleportfolio .sp-simpleportfolio-items .sp-simpleportfolio-item:hover .sp-simpleportfolio-overlay-wrapper .sp-simpleportfolio-overlay .sp-vertical-middle .sp-simpleportfolio-tags,
.sp-simpleportfolio .sp-simpleportfolio-items .sp-simpleportfolio-item:focus .sp-simpleportfolio-overlay-wrapper .sp-simpleportfolio-overlay .sp-vertical-middle .sp-simpleportfolio-tags {
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transition-delay: 400ms;
  -webkit-transition-delay: 400ms;
}
.sp-simpleportfolio .sp-simpleportfolio-items .sp-simpleportfolio-item:hover .sp-simpleportfolio-info,
.sp-simpleportfolio .sp-simpleportfolio-items .sp-simpleportfolio-item:focus .sp-simpleportfolio-info {
  background: #ff0066;
  color: #ffffff;
  text-align: center;
}
.sp-simpleportfolio .sp-simpleportfolio-items .sp-simpleportfolio-item:hover .sp-simpleportfolio-info a,
.sp-simpleportfolio .sp-simpleportfolio-items .sp-simpleportfolio-item:focus .sp-simpleportfolio-info a {
  color: #ffffff;
}
.sp-simpleportfolio-view-item .sp-simpleportfolio-image {
  padding-left: 0px;
}
@media screen and (max-width: 767px) {
  .sp-simpleportfolio-view-item .sp-simpleportfolio-image {
    padding-right: 0;
  }
}
.sp-simpleportfolio-view-item .sp-simpleportfolio-details {
  padding-right: 0px;
}
@media screen and (max-width: 991px) {
  .sp-simpleportfolio-view-item .sp-simpleportfolio-details {
    padding-left: 0;
  }
}
.sp-simpleportfolio-view-item .sp-simpleportfolio-details .sp-simpleportfolio-description {
  width: 100%;
  float: none;
  margin-bottom: 20px;
}
.sp-simpleportfolio-view-item .sp-simpleportfolio-details .sp-simpleportfolio-description h2 {
  margin-bottom: 15px;
  font-size: 24px;
}
.sp-simpleportfolio-view-item .sp-simpleportfolio-details .sp-simpleportfolio-meta {
  width: 100%;
  padding: 15px 0;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  float: none;
}
.sp-simpleportfolio-view-item .sp-simpleportfolio-details .sp-simpleportfolio-meta .sp-simpleportfolio-created,
.sp-simpleportfolio-view-item .sp-simpleportfolio-details .sp-simpleportfolio-meta .sp-simpleportfolio-tags {
  margin: 6px 0;
  padding: 0;
  border-bottom: 0;
}
.sp-simpleportfolio-view-item .sp-simpleportfolio-details .sp-simpleportfolio-meta .sp-simpleportfolio-created h4,
.sp-simpleportfolio-view-item .sp-simpleportfolio-details .sp-simpleportfolio-meta .sp-simpleportfolio-tags h4 {
  display: inline-block;
  min-width: 120px;
  margin: 0;
  font-size: 14px;
  font-weight: normal;
}
.sp-simpleportfolio-view-item .sp-simpleportfolio-details .sp-simpleportfolio-meta .sp-simpleportfolio-created h4 i,
.sp-simpleportfolio-view-item .sp-simpleportfolio-details .sp-simpleportfolio-meta .sp-simpleportfolio-tags h4 i {
  font-size: 17px;
  margin-right: 3px;
}
.sp-simpleportfolio-view-item .sp-simpleportfolio-details .sp-simpleportfolio-meta .sp-simpleportfolio-link {
  margin-top: 5px;
  display: inline-block;
}
.sp-simpleportfolio-view-item .sp-simpleportfolio-details .sp-simpleportfolio-meta .sp-simpleportfolio-link a i {
  font-size: 20px;
  margin-right: 3px;
}
.sp-simpleportfolio-view-item .sp-simpleportfolio-details .sp-simpleportfolio-meta .sp-simpleportfolio-link a span {
  position: relative;
  top: -2px;
}
.sp-simpleportfolio-view-item .sp-simpleportfolio-details .sp-simpleportfolio-share {
  margin-top: 15px;
}
.sp-simpleportfolio-view-item .sp-simpleportfolio-details .sp-simpleportfolio-share .itp-share-mod div[class*="itp-share-"] {
  margin: 15px 5px 0;
  height: 20px;
}
.sp-simpleportfolio-view-item .sp-simpleportfolio-details .sp-simpleportfolio-share .itp-share-mod .itp-share-reddit {
  position: relative;
  top: -3px;
}
.sp-simpleportfolio-view-item .sp-simpleportfolio-details .sp-simpleportfolio-share .itp-share-mod .itp-share-fbl {
  position: relative;
  top: -6px;
}
.sp-simpleportfolio-view-item .sp-simpleportfolio-details .sp-simpleportfolio-share .itp-share-mod .itp-share-gone #___plusone_0 {
  width: 80px !important;
}
.sp-simpleportfolio-similar {
  margin-top: 60px;
}
.sp-simpleportfolio-similar .t3-module {
  margin-bottom: 0;
}
.sp-simpleportfolio-similar #mod-sp-simpleportfolio {
  margin-bottom: 0;
}
.sp-simpleportfolio-similar #mod-sp-simpleportfolio .container {
  width: auto;
  padding: 0;
}
#mod-sp-simpleportfolio {
  margin-bottom: 60px;
}