.tabs {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.tabs .tabs-ct {
  padding: 60px 0;
}
.tabs-1 .tabs-title {
  margin: 0 0 20px;
  font-size: 34px;
  font-weight: 500;
  color: #ffffff;
  text-align: center;
}
.tabs-1 .tabs-subtitle {
  text-align: center;
  margin: 0 0 10px;
  color: #ffffff;
}
.tabs-1 .tabs-intro {
  text-align: center;
  color: #ffffff;
}
.tabs-1 .nav-tabs {
  margin-top: 60px;
  border: none;
}
.tabs-1 .nav-tabs .tab-name {
  padding: 0;
  text-align: center;
}
.tabs-1 .nav-tabs .tab-name a {
  border: none;
  border-radius: 0;
  margin: 0;
  color: #ffffff;
  padding: 20px 15px;
}
@media screen and (min-width: 992px) {
  .tabs-1 .nav-tabs .tab-name.active a {
    padding: 25px 15px;
    border-bottom: 2px solid #ffffff;
    box-shadow: 0px 0px 11px 11px rgba(50, 50, 50, 0.75);
    z-index: 1;
  }
  .tabs-1 .nav-tabs .tab-name.active a:after {
    content: "";
    width: 0;
    height: 0;
    border: solid transparent;
    border-color: transparent;
    border-top-color: #ffffff;
    border-width: 11px;
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -11px;
  }
}
.tabs-1 .tab-content {
  padding-top: 90px;
  padding-bottom: 30px;
  margin: 0 -15px;
}
.tabs-1 .tab-content .tab-pane .tab-image {
  text-align: center;
}
.tabs-1 .tab-content .tab-pane .tab-image img {
  max-width: 100%;
  margin-bottom: 20px;
}
@media screen and (max-width: 767px) {
  .tabs-1 .tab-content .tab-pane .tab-image img {
    width: 100%;
  }
}
.tabs-1 .tab-content .tab-pane .tab-item .tab-intro {
  color: #ffffff;
}
.tabs-1 .tab-content .tab-pane .tab-item .tab-list {
  color: #999999;
  list-style: none;
  padding: 0;
  margin: 20px 0;
}
.tabs-1 .tab-content .tab-pane .tab-item .tab-list li {
  padding: 0;
}
.tabs-1 .tab-content .tab-pane .tab-item .tab-list li:before {
  content: "\f00c";
  font-family: FontAwesome;
  color: #0bc8f1;
  position: relative;
  font-size: 16px;
  padding-right: 10px;
}
.tabs-1 .tab-content .tab-pane .tab-item .tab-desc {
  color: #ffffff;
}