.pages {
  
  
  
}
.pages .skill h3[class*="-title"],
.pages .team h3[class*="-title"],
.pages .feature h3[class*="-title"],
.pages .action h3[class*="-title"],
.pages .clients h3[class*="-title"],
.pages .pricing h3[class*="-title"],
.pages .timeline h3[class*="-title"],
.pages .hero h3[class*="-title"],
.pages .tabs h3[class*="-title"],
.pages .testimonial h3[class*="-title"],
.pages .follow h3[class*="-title"] {
  font-size: 30px;
  text-transform: uppercase;
}
.pages .home-spotlight {
  background: #f7f7f7;
}
.pages .section .section-ct .section-header {
  margin-top: 60px;
  margin-bottom: 25px;
}
.pages .section .section-ct .section-header h3 {
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
}