//testimonial-6 tabs
.testimonial-6{
	.tab-content{
		.tab-pane{
			.testimonial-item{text-align: center;
				.testimonial-name{
					.name{text-transform: uppercase;
						&:before, &:after{content: "\f10d";display: inline-block;font-family: FontAwesome;margin-right: 15px;}
						&:after{content: "\f10e";margin-right: 0; margin-left: 15px;}
					}
					.position{margin-bottom: 20px;}
				}
				.testimonio{margin-bottom: 40px;}
			}
		}
	}
	.nav-tabs{border:none;text-align: center;
		.testimonial-image{float: none;display: inline-block;
			a{border:8px solid @brand-primary;border-radius: 50%;padding: 0;overflow: hidden;transform:scale(0.6);webkit-transform:scale(0.6);}
			&.active{
				a{transform:scale(1);-webkit-transform:scale(1);
					&:hover, &:focus{border:8px solid @brand-primary;}
				}
			}
		}
	}
}