@import "../../../less/vars.less";
//Testimonial
.testimonial{background-position: center center;background-size: cover;
  .testimonial-ct{padding: @mm-vertical-padding 0;}
}

 /*===========================
// Import individual style  //
===========================*/
@import "style-1.less";
@import "style-2.less";
@import "style-3.less";
@import "style-4.less";
@import "style-6.less";
