//testimonial-2 slide
.testimonial-2{
	.carousel-inner{
		.item{padding: 0 40px;
			.testimonio{font-size: 20px; font-weight: normal;
				.fa{font-size: 35px; margin-right: 10px;}
			}
			.author-image{margin-right: 20px;float: left;
				img{height: 200px;width: 200px;border-radius: 50%;}
			}
			.author-name{font-size: 14px;text-transform: uppercase;font-weight: bold;margin-bottom: 15px;color: @brand-primary;display: inline-block; padding-right: 5px;border-right: 1px solid @t3-border-color;}
			.author-position{font-size: 12px;text-transform: uppercase;font-weight: normal;display: inline-block;}
		}
	}
	.carousel-control{top: 50%;left: 0;margin-top: -16px;width: 32px; height: 32px; border: 2px solid @brand-secondary; background: @brand-primary;border-radius: 50%;text-align: center;line-height: 32px;text-shadow:none;
		&.left{background-image: none;}
		&.right{left: auto;right: 0;background-image: none;}
	}
}