//testimonial-1 slide
.testimonial-1{text-align: center;
	.carousel-indicators{bottom: auto; position: relative;margin-top: @t3-global-margin; margin-bottom: 0;z-index: 0;
		li{margin: 0 5px; background: @text-color;border:none;width: 15px;height: 15px;
			&.active{background: @brand-primary;width: 15px;height: 15px;}
		}
	}
	.testimonio{font-size: @font-size-base;letter-spacing: .5px;
		.fa{font-size: 35px; margin-right: 10px;}
	}
	.author-image{margin: 20px 0;
		img{height: 120px;width: 120px;border-radius: 50%;}
	}
	.author-name{text-transform: uppercase;margin-bottom: 15px;font-family: @headings-font-family;font-size: @font-size-h4;letter-spacing: 3px;color: @headings-color;line-height: 1.1;}
	.author-position{font-size: 12px;text-transform: uppercase;font-weight: normal;}
}