//testimonial-3 owl-carousel
.testimonial-3{
	.testimonial-header{
		.testimonial-title{text-align: center;margin:0 0 10px;}
		.testimonial-subtitle{text-align: center;margin:0 0 10px;} 
	}
	.testimonial-intro{text-align: center;margin:0 0 10px;}
	.owl-testimonial-3{margin: 40px 0 0;
		.owl-stage-outer{margin-bottom: 40px;
			.owl-stage{
				.owl-item{
					.item{background:@body-bg; padding: 20px;
						.author-image{margin: 0 15px 15px 0 ;float: left;
							@media screen and(max-width:479px){float: none;}
							img{width: inherit;}
						}
						.author-name{font-size: 16px; font-weight: 700;margin-right: 40px;}
						.author-position{font-size: 12px; font-weight: 300;text-transform: uppercase;}
						.fa{position: absolute;top: 15px; right: 15px;font-size: 36px;color: @brand-secondary;}
						.testimonio{margin: 10px 0 0;}
					}
				}            
			}
		}
		.owl-controls{}
	}

	.owl-theme {
		.owl-dots{
			.owl-dot span{width:12px;height:12px;margin:5px 7px;background:@gray;}
			.active span,.owl-dot:hover span{background:@brand-primary;}
		}
	}
}