//testimonial-4 owl-carousel
.testimonial-4{
	.testimonial-header{
		.testimonial-title{text-align: center;margin:0 0 10px;}
		.testimonial-subtitle{text-align: center;margin:0 0 10px;} 
	}
	.testimonial-intro{text-align: center;margin:0 0 10px;}
	.owl-testimonial-4{margin: 40px 0 0;
		.owl-stage-outer{margin-bottom: 40px;
			.owl-stage{
				.owl-item{
					.item{padding: 0;
						.item-left{background:@body-bg;margin-left: -15px; padding: 15px;border-radius: 20px 0;
							@media screen and (max-width:@screen-xs-max){margin-right: -15px;}
							.author-image{margin: 0 0 15px 15px ;float: right;
								img{border-radius: 15px 0;}
							}
							.author-name{margin-top: 0;text-align: right;}
							.author-position{text-transform: uppercase;font-size: 12px;text-align: right;}
							.testimonio{margin: 10px 0 0;text-align: right;}
						}
						.item-right{background:@body-bg;margin-right: -15px; padding: 15px;border-radius: 0 20px;
							@media screen and (max-width:@screen-xs-max){margin-left: -15px;margin-top: 30px;}
							.author-image{margin: 0 15px 15px 0 ;float: left;
								img{border-radius: 0 15px;}
							}
							.author-name{margin-top: 0;}
							.author-position{text-transform: uppercase;font-size: 12px;}
							.testimonio{margin: 10px 0 0;}
						}
					}
				}            
			}
		}
		.owl-controls{
			.owl-nav{
				.owl-prev, .owl-next{padding: 6px 12px;text-transform: uppercase;}
			}
		}
	}
}