.timeline {
  background-position: center center;
  background-size: cover;
}
.timeline .timeline-ct {
  padding: 60px 0;
}
.timeline-1 {
  position: relative;
}
.timeline-1 .timeline-intro {
  margin: 0 0 20px;
}
.timeline-1 .timeline-row .timeline-list {
  position: relative;
}
.timeline-1 .timeline-row .timeline-list:before {
  content: "";
  width: 1px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 17px;
  bottom: 0;
  background: #dddddd;
}
.timeline-1 .timeline-row .timeline-list .row {
  margin-top: 40px;
}
.timeline-1 .timeline-row .timeline-list .row .timeline-date {
  padding-top: 5px;
  font-size: 24px;
  line-height: 24px;
}
.timeline-1 .timeline-row .timeline-list .row .timeline-item {
  position: relative;
}
.timeline-1 .timeline-row .timeline-list .row .timeline-item:before {
  content: "\f017";
  font-family: FontAwesome;
  font-size: 24px;
  color: #555555;
  background: #dddddd;
  position: absolute;
  top: 0;
  left: -17px;
  border-radius: 50%;
  width: 34px;
  height: 34px;
  line-height: 23px;
  padding: 5px;
  text-align: center;
}
.timeline-1 .timeline-row .timeline-list .row .timeline-item .timeline-content {
  padding: 15px;
  background: #dddddd;
  position: relative;
}
.timeline-1 .timeline-row .timeline-list .row .timeline-item .timeline-content:before {
  border-width: 10px;
  border-style: solid;
  border-color: transparent #dddddd transparent transparent;
  content: "";
  position: absolute;
  top: 10px;
  left: -20px;
  width: 20px;
}
.timeline-1 .timeline-row .timeline-list .row .timeline-item .timeline-content .timeline-figure {
  display: inline-block;
  margin: 0 15px 15px 0;
  float: left;
}
.timeline-1 .timeline-row .timeline-list .row .timeline-item .timeline-content .timeline-figure img {
  max-width: 100%;
}
.timeline-1 .timeline-row .timeline-list .row .timeline-item .timeline-content .timeline-figure i {
  font-size: 54px;
}
.timeline-1 .timeline-row .timeline-list .row .timeline-item .timeline-content .timeline-name {
  margin: 0 0 10px;
}
@media screen and (max-width: 767px) {
  .timeline-1 .timeline-row .timeline-list .row {
    margin: 40px -15px 0 17px;
  }
  .timeline-1 .timeline-row .timeline-list .row .timeline-date {
    margin: 0 0 10px 30px;
    float: left !important;
  }
  .timeline-1 .timeline-row .timeline-list .row .timeline-item .timeline-content {
    margin-left: 30px;
  }
}
@media screen and (min-width: 768px) {
  .timeline-1 .timeline-row .timeline-list:before {
    left: 50%;
  }
  .timeline-1 .timeline-row .timeline-list .row .pull-left {
    padding-right: 45px;
    text-align: right;
  }
  .timeline-1 .timeline-row .timeline-list .row .pull-right {
    padding-left: 45px;
  }
  .timeline-1 .timeline-row .timeline-list .row:nth-child(odd) .timeline-item:before {
    right: -17px;
    left: auto;
  }
  .timeline-1 .timeline-row .timeline-list .row:nth-child(odd) .timeline-item .timeline-content .timeline-figure {
    float: right;
    margin: 0 0 15px 15px;
  }
  .timeline-1 .timeline-row .timeline-list .row:nth-child(odd) .timeline-item .timeline-content:before {
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent transparent #dddddd;
    content: "";
    position: absolute;
    top: 10px;
    left: auto;
    right: -20px;
    width: 20px;
  }
}