@import "../../../less/vars.less";
//HEROS
.hero{background-position: center center;background-size: cover;background-repeat: no-repeat;
  .hero-ct{}
}

 /*===========================
// Import individual style  //
===========================*/
@import "style-1.less";
@import "style-2.less";
@import "style-video.less";