//hero 1
.hero-1{padding: 150px 0;
	.hero-image{
		@media screen and (max-width: @screen-xs-max){
			margin-bottom: 25px;
			img{margin: 0 auto;}
		}
	}
	.pull-left{
		img{float: right;
			@media screen and (max-width: @screen-xs-max){float: none;}
		}
	}
	.hero-content{margin-top: 20px;color: @white;
		.hero-title{margin:0 0 15px;font-size: 42px;font-weight: 700;color: @white;text-transform: uppercase;}
		.hero-subtitle{margin:0 0 10px;font-size: 30px;font-weight: 400;}
		.hero-intro{font-size: 16px;}
		.hero-links{margin-top: 40px;
			a{margin-left: 20px;
				&:first-child{margin-left: 0;}
			}
		}
		@media screen and (max-width: @screen-xs-max){text-align: center;}
	}
	@media screen and (max-width:@screen-xs-max){padding: 50px 0;}
	@media screen and (min-width:@screen-lg-min){padding: 220px 0;}
}