//hero 2
.hero-2{padding: 60px 0;
	.hero-image{text-align: center;
		img{display: inline-block;}
	}
	.hero-content{margin-top: 20px;text-align: center;
		.hero-title{text-align: center;text-transform: uppercase;margin-bottom: 25px;font-weight: 700;font-size: 36px;}
		.hero-intro{font-size: 20px; font-weight: 300;}
		.hero-links{margin-top: 40px;}
	}
}