//Hero Video
.hero-video {overflow: hidden; height: auto !important;
	.hero-video-wrapper {
		height: 0;
		padding-bottom: 56.25%;
		padding-top: 0;
		position: relative;

		&:before {
			content: "";
			position: absolute;
			background-color: @black;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 2;
			.opacity(0.7);
			.transition(opacity 0.5s);
		}
	}

	iframe {
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		z-index: 1;
		width: 100%;
	}

	.hero-content{color: #ffffff;
    z-index: 3;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    text-align: center;
		.hero-title{font-size: 36px;margin-bottom: 20px;text-transform: uppercase;color: @white;}
		.hero-intro{font-size: 16px; font-weight: normal;margin-bottom: 20px;}
		.hero-links{
			a{
				&:first-child{margin-right: 20px;}
			}
		}
		@media screen and (min-width:@screen-sm) and (max-width: @screen-sm-max){
			padding: 115px 20px;
		}
		@media screen and (min-width:@screen-xs) and (max-width: @screen-xs-max){
			padding: 60px 20px;
			.hero-intro{display: none;}
		}
		@media screen and (max-width: (@screen-xs - 1)){
			padding: 80px 10px;
			.hero-title,
			.hero-intro{display: none;}
		}
	}
}