.feature {
  background-position: center center;
  background-size: cover;
}
.feature .feature-ct {
  padding: 60px 0;
}
.feature-1 {
  position: relative;
}
.feature-1 .feature-title {
  margin: 0 0 40px;
  text-align: center;
}
.feature-1 .feature-subtitle {
  margin: 0 0 20px;
}
.feature-1 .feature-row {
  margin: 30px -15px 0;
  position: relative;
  overflow: hidden;
}
.feature-1 .feature-row .feature-item {
  padding-bottom: 30px;
}
.feature-1 .feature-row .feature-item .feature-icon {
  display: inline-block;
  border-radius: 50%;
  padding: 20px;
  background-color: #ff4040;
}
.feature-1 .feature-row .feature-item .feature-icon img {
  max-width: 100%;
}
.feature-1 .feature-row .feature-item .feature-icon i {
  font-size: 36px;
  color: #ffffff;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  display: block;
}
.feature-1 .feature-row .feature-item .feature-name {
  margin: 15px 0;
  text-transform: uppercase;
}
.feature-1 .feature-image {
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}
.feature-1 .feature-image img {
  max-width: 100%;
}

.feature-2 {
  position: relative;
}
.feature-2 .feature-header {
  text-align: center;
}
.feature-2 .feature-header .feature-title {
  margin: 0 0 40px;
}
.feature-2 .feature-header .feature-subtitle {
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 36px;
}
.feature-2 .feature-intro {
  margin-bottom: 40px;
  text-align: center;
}
.feature-2 .feature-row {
  margin: 0 -15px -40px;
  overflow: hidden;
}
.feature-2 .feature-row .feature-item {
  padding-bottom: 40px;
}
.feature-2 .feature-row .feature-item .feature-item-ct {
  text-align: center;
}
.feature-2 .feature-row .feature-item .feature-item-ct .feature-icon img {
  max-width: 100%;
}
.feature-2 .feature-row .feature-item .feature-item-ct .feature-icon i {
  font-size: 75px;
  color: #ff4040;
}
.feature-2 .feature-row .feature-item .feature-item-ct .feature-name {
  margin: 15px 0;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.feature-2 .feature-row .feature-item .feature-item-ct .feature-desc {
  margin: 0;
}
.feature-2 .feature-row .feature-item .feature-item-ct a.btn {
  margin-top: 20px;
}
.feature-3 {
  text-align: left;
}
.feature-3 .feature-header .feature-title {
  text-align: center;
  margin-bottom: 40px;
}
.feature-3 .feature-header .feature-subtitle {
  margin: 0 0 20px;
}
.feature-3 .feature-intro {
  margin-bottom: 15px;
}
.feature-3 .feature-row {
  margin: 0 -15px -40px;
  overflow: hidden;
}
.feature-3 .feature-row .feature-image {
  text-align: center;
  position: relative;
  padding-bottom: 40px;
}
.feature-3 .feature-row .feature-image img {
  max-width: 100%;
}
.feature-3 .feature-row .feature-item {
  padding-bottom: 40px;
}
.feature-3 .feature-row .feature-item .feature-item-ct .feature-icon {
  display: inline-block;
  border-radius: 50%;
  padding: 20px;
  background: #ff4040;
}
.feature-3 .feature-row .feature-item .feature-item-ct .feature-icon img {
  max-width: 100%;
}
.feature-3 .feature-row .feature-item .feature-item-ct .feature-icon i {
  font-size: 36px;
  color: #ffffff;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  display: block;
}
.feature-3 .feature-row .feature-item .feature-item-ct .feature-name {
  margin: 15px 0;
  text-transform: uppercase;
}
.feature-3 .feature-row .feature-item .feature-item-ct .feature-desc {
  margin-bottom: 0;
}
.feature-4 {
  position: relative;
}
.feature-4 .feature-header .feature-title {
  margin: 0 0 20px;
}
.feature-4 .feature-header .feature-subtitle {
  margin: 0 0 10px;
}
.feature-4 .feature-intro {
  margin-bottom: 15px;
}
.feature-4 .feature-row {
  margin: 30px -15px 0;
}
@media screen and (max-width: 991px) {
  .feature-4 .feature-row .feature-item {
    padding-bottom: 50px;
  }
}
.feature-4 .feature-row .feature-item .feature-item-ct .feature-name {
  color: #ff4040;
  font-size: 16px;
  font-weight: bold;
  border-bottom: 1px solid #dddddd;
  padding-bottom: 20px;
  margin-bottom: 40px;
  padding-left: 70px;
  margin-top: 0;
  position: relative;
}
.feature-4 .feature-row .feature-item .feature-item-ct .feature-name img {
  max-width: 100%;
}
.feature-4 .feature-row .feature-item .feature-item-ct .feature-name i {
  font-size: 24px;
  color: #ff4040;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border: 1px solid #dddddd;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  left: 0;
  background: #ffffff;
  text-align: center;
}
.feature-4 .feature-row .feature-item .feature-item-ct .feature-desc {
  margin-bottom: 20px;
}
.feature-5 {
  text-align: center;
}
.feature-5 .feature-title {
  margin: 0 0 20px;
  font-weight: 400;
}
.feature-5 .feature-subtitle {
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 36px;
}
.feature-5 .feature-intro {
  margin-bottom: 15px;
}
.feature-5 .feature-row {
  margin-top: 30px;
}
.feature-5 .feature-row .feature-item {
  padding: 40px 0;
  border: 1px solid #dddddd;
  margin: 0 -1px -1px 0;
}
.feature-5 .feature-row .feature-item:hover,
.feature-5 .feature-row .feature-item:focus {
  background: #ff4040;
  border-color: #ff4040;
}
.feature-5 .feature-row .feature-item:hover .feature-item-ct .feature-icon i,
.feature-5 .feature-row .feature-item:focus .feature-item-ct .feature-icon i {
  color: #ffffff;
}
.feature-5 .feature-row .feature-item:hover .feature-item-ct .feature-name,
.feature-5 .feature-row .feature-item:focus .feature-item-ct .feature-name {
  color: #ffffff;
}
.feature-5 .feature-row .feature-item .feature-item-ct .feature-icon img {
  max-width: 100%;
}
.feature-5 .feature-row .feature-item .feature-item-ct .feature-icon i {
  font-size: 38px;
  color: #ff4040;
}
.feature-5 .feature-row .feature-item .feature-item-ct .feature-name {
  margin: 15px 0;
  color: #555555;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
}
.feature-6 .feature-row {
  margin-bottom: -1px;
}
.feature-6 .feature-row .feature-item {
  padding: 50px 20px;
  border-color: #dddddd;
  border-style: solid;
  border-width: 1px 1px 1px 0;
}
.feature-6 .feature-row .feature-item:first-child {
  border-left: 1px solid #dddddd;
}
@media screen and (max-width: 767px) {
  .feature-6 .feature-row .feature-item {
    display: block !important;
    margin-bottom: -1px;
    border-width: 1px;
  }
}
.feature-6 .feature-row .feature-item:hover,
.feature-6 .feature-row .feature-item:focus {
  background: #ff4040;
  border-color: #ff4040;
  color: #ffffff;
}
.feature-6 .feature-row .feature-item:hover .feature-item-ct .feature-icon i,
.feature-6 .feature-row .feature-item:focus .feature-item-ct .feature-icon i {
  color: #ffffff;
}
.feature-6 .feature-row .feature-item .feature-title {
  margin: 0 0 20px;
  font-size: 28px;
  font-weight: 600;
}
.feature-6 .feature-row .feature-item .feature-subtitle {
  margin: 0 0 20px;
  font-size: 20px;
  font-weight: 600;
}
.feature-6 .feature-row .feature-item .feature-subtitle:after {
  content: "";
  width: 40px;
  display: block;
  border-bottom: 1px solid #dddddd;
  margin: 15px 0;
}
.feature-6 .feature-row .feature-item .feature-intro {
  margin-bottom: 15px;
}
.feature-6 .feature-row .feature-item .feature-item-ct .feature-icon img {
  max-width: 100%;
}
.feature-6 .feature-row .feature-item .feature-item-ct .feature-icon i {
  font-size: 28px;
  color: #ff4040;
}
.feature-6 .feature-row .feature-item .feature-item-ct .feature-name {
  margin: 15px 0;
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 600;
}
.feature-6 .feature-row .feature-item .feature-item-ct .feature-name:after {
  content: "";
  width: 40px;
  display: block;
  border-bottom: 1px solid #dddddd;
  margin: 15px 0;
}
.feature-6 .feature-row .feature-item .feature-item-ct .feature-desc {
  margin-bottom: 20px;
}
.feature-6 .feature-row .active {
  background: #ff4040;
  border-color: #ff4040;
  color: #ffffff;
}
.feature-6 .feature-row .active .feature-item-ct .feature-icon i {
  color: #ffffff;
}
.feature-6 .feature-row .col-xs-height {
  display: table-cell;
  float: none !important;
}
.feature-6 .row-same-height {
  display: table;
  width: 100%;
  table-layout: fixed;
}
.feature-7 {
  text-align: center;
  color: #ffffff;
}
.feature-7 .feature-row {
  margin: 0 -15px -40px;
  overflow: hidden;
}
.feature-7 .feature-row .feature-item {
  padding-bottom: 40px;
}
.feature-7 .feature-row .feature-item .feature-title {
  margin-top: 0;
  text-align: left;
  color: #ffffff;
}
.feature-7 .feature-row .feature-item .feature-subtitle {
  text-align: left;
}
.feature-7 .feature-row .feature-item .feature-intro {
  margin-bottom: 15px;
  text-align: left;
}
.feature-7 .feature-row .feature-item .feature-item-ct .feature-icon {
  display: inline-block;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.8);
  width: 80px;
  height: 80px;
  line-height: 90px;
  box-shadow: 0px 0px 0px 10px rgba(255, 255, 255, 0.4);
  margin: 10px 0 30px;
}
.feature-7 .feature-row .feature-item .feature-item-ct .feature-icon img {
  max-width: 100%;
}
.feature-7 .feature-row .feature-item .feature-item-ct .feature-icon i {
  font-size: 28px;
  color: #ff4040;
}
.feature-7 .feature-row .feature-item .feature-item-ct .feature-name {
  margin: 0 0 15px;
  text-transform: uppercase;
  color: #ffffff;
}
.feature-7 .feature-row .feature-item .feature-item-ct .feature-desc {
  margin-bottom: 0;
}
.feature-7 .feature-row .feature-item:hover .feature-item-ct .feature-icon,
.feature-7 .feature-row .feature-item:focus .feature-item-ct .feature-icon {
  background: #ffffff;
}
.feature-7 .feature-row .feature-item:hover .feature-item-ct .feature-icon i,
.feature-7 .feature-row .feature-item:focus .feature-item-ct .feature-icon i {
  color: #ff4040;
}
.feature-8 {
  text-align: left;
}
.feature-8 .feature-row {
  margin: 0 -15px -40px;
  overflow: hidden;
}
.feature-8 .feature-row .feature-text .feature-title {
  margin: 0 0 15px;
  color: #555555;
  font-size: 28px;
  font-weight: 600;
}
.feature-8 .feature-row .feature-text .feature-subtitle {
  margin: 0 0 38px;
  font-size: 18px;
  font-weight: 400;
}
.feature-8 .feature-row .feature-text .feature-intro {
  margin: 0 0 40px;
}
.feature-8 .feature-row .feature-text .feature-items-row {
  margin: 0 -15px;
}
.feature-8 .feature-row .feature-text .feature-items-row .feature-item {
  padding-bottom: 40px;
}
.feature-8 .feature-row .feature-text .feature-items-row .feature-item .feature-item-ct .feature-icon {
  display: inline-block;
  border-radius: 50%;
  background: #ff4040;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  position: absolute;
}
.feature-8 .feature-row .feature-text .feature-items-row .feature-item .feature-item-ct .feature-icon img {
  max-width: 100%;
}
.feature-8 .feature-row .feature-text .feature-items-row .feature-item .feature-item-ct .feature-icon i {
  font-size: 18px;
  color: #ffffff;
}
.feature-8 .feature-row .feature-text .feature-items-row .feature-item .feature-item-ct .feature-name {
  margin: 0 0 20px;
  border-bottom: 1px solid #ff4040;
  padding: 10px 0 25px 45px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;
}
.feature-8 .feature-row .feature-image {
  text-align: center;
  position: relative;
  padding-bottom: 40px;
}
.feature-8 .feature-row .feature-image img {
  max-width: 100%;
}
.feature-9 {
  text-align: center;
  position: relative;
}
.feature-9 .feature-title {
  margin: 0 0 20px;
}
.feature-9 .feature-subtitle {
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 36px;
}
.feature-9 .feature-intro {
  margin-bottom: 15px;
}
.feature-9 .owl-feature-9 {
  margin: 30px -15px 0;
}
.feature-9 .owl-feature-9 .item {
  padding-bottom: 50px;
}
.feature-9 .owl-feature-9 .item .feature-item-ct .feature-icon img {
  max-width: 100%;
}
.feature-9 .owl-feature-9 .item .feature-item-ct .feature-icon i {
  font-size: 75px;
  color: #ff4040;
}
.feature-9 .owl-feature-9 .item .feature-item-ct .feature-name {
  margin: 15px 0;
  color: #ff4040;
  font-size: 12px;
  text-transform: uppercase;
}
.feature-9 .owl-feature-9 .item .feature-item-ct .feature-desc {
  margin-bottom: 20px;
}
.feature-10 {
  position: relative;
}
.feature-10 .feature-header .feature-title {
  margin: 0 0 40px;
  text-align: center;
  color: #ffffff;
}
.feature-10 .feature-header .feature-subtitle {
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 36px;
}
.feature-10 .feature-intro {
  margin-bottom: 15px;
}
.feature-10 .feature-row {
  margin: 40px -15px -40px;
  overflow: hidden;
}
.feature-10 .feature-row .feature-item {
  padding-bottom: 50px;
}
.feature-10 .feature-row .feature-item .feature-item-ct .feature-icon {
  display: inline-block;
  float: left;
  margin-right: 15px;
  width: 70px;
  height: 70px;
  line-height: 80px;
  text-align: center;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.3);
}
.feature-10 .feature-row .feature-item .feature-item-ct .feature-icon img {
  max-width: 100%;
}
.feature-10 .feature-row .feature-item .feature-item-ct .feature-icon i {
  font-size: 35px;
  color: #ff4040;
}
.feature-10 .feature-row .feature-item .feature-item-ct .feature-content {
  overflow: hidden;
}
.feature-10 .feature-row .feature-item .feature-item-ct .feature-content .feature-name {
  margin: 0 0 15px;
  color: #ffffff;
  text-transform: uppercase;
}
.feature-10 .feature-row .feature-item .feature-item-ct .feature-content .feature-desc {
  margin-bottom: 0px;
  color: #ffffff;
}