.pricing {
  background-position: center center;
  background-size: cover;
}
.pricing .pricing-ct {
  padding: 60px 0;
}
.pricing-1 {
  position: relative;
}
.pricing-1 .pricing-title {
  margin-bottom: 40px;
  text-align: center;
}
.pricing-1 .pricing-row {
  margin: 0 -15px -40px;
  overflow: hidden;
}
.pricing-1 .pricing-row .pricing-item {
  padding-bottom: 40px;
}
.pricing-1 .pricing-row .pricing-item.plan-featured .pricing-item-ct .plan-name {
  border-color: #ffb90f;
}
.pricing-1 .pricing-row .pricing-item.plan-featured .pricing-item-ct .plan-name .name {
  color: #ffb90f;
}
.pricing-1 .pricing-row .pricing-item.plan-featured .pricing-item-ct .plan-price .price {
  color: #ffb90f;
}
.pricing-1 .pricing-row .pricing-item.plan-featured .pricing-item-ct .plan-price .price small {
  color: #ffb90f;
}
.pricing-1 .pricing-row .pricing-item .pricing-item-ct {
  padding: 26px;
  border: 1px solid #dddddd;
  text-align: center;
  background-color: #f7f7f7;
}
.pricing-1 .pricing-row .pricing-item .pricing-item-ct .plan-name {
  border-bottom: 5px solid #555555;
  padding: 26px 0;
}
.pricing-1 .pricing-row .pricing-item .pricing-item-ct .plan-name .name {
  margin: 0;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
}
.pricing-1 .pricing-row .pricing-item .pricing-item-ct .plan-price {
  margin-bottom: 26px;
  padding: 26px 0;
}
.pricing-1 .pricing-row .pricing-item .pricing-item-ct .plan-price .price {
  font-size: 84px;
  font-weight: 600;
  line-height: 1;
  margin: 0;
}
.pricing-1 .pricing-row .pricing-item .pricing-item-ct .plan-price .price sup {
  font-size: 18px;
  position: relative;
  top: -40px;
  left: -5px;
}
.pricing-1 .pricing-row .pricing-item .pricing-item-ct .plan-price .price small {
  font-size: 18px;
}
.pricing-1 .pricing-row .pricing-item .pricing-item-ct .plan-price .valid {
  margin: 0;
}
.pricing-1 .pricing-row .pricing-item .pricing-item-ct .plan-info ul {
  padding: 0;
}
.pricing-1 .pricing-row .pricing-item .pricing-item-ct .plan-info ul li {
  list-style: none;
  padding: 0 0 10px;
  margin: 0 0 10px;
  border-bottom: 1px solid #dddddd;
}
.pricing-1 .pricing-row .pricing-item .pricing-item-ct .plan-info ul li:last-child {
  border-bottom: none;
}
.pricing-1 .pricing-row .pricing-item .pricing-item-ct .plan-link {
  margin-top: 26px;
}