/* Admin panel styles
/-------------------------*/
.form-horizontal{border: 1px solid #ddd; box-shadow: 0 0 7px #ddd;border-radius: 6px;margin-top: 15px;}
/*nav tabs*/
#myTabTabs.nav-tabs{border-radius: 6px 6px 0 0; background-color:mix(#f7f8f8,#dddddd,60%);background-image:-moz-linear-gradient(top,#f7f8f8,#dddddd);background-image:-ms-linear-gradient(top,#f7f8f8,#dddddd);background-image:-webkit-gradient(linear,0 0,0 100%,from(#f7f8f8),to(#dddddd));background-image:-webkit-linear-gradient(top,#f7f8f8,#dddddd);background-image:-o-linear-gradient(top,#f7f8f8,#dddddd);background-image:linear-gradient(top,#f7f8f8,#dddddd);background-repeat:repeat-x;margin-bottom: 0;}
#myTabTabs.nav-tabs > li{border-right: 1px solid #ddd;}
#myTabTabs.nav-tabs > li > a{margin-right: 0;border-radius: 0;padding: 15px 12px;}
#myTabTabs.nav-tabs > li.active{}
#myTabTabs.nav-tabs > li.active > a{border-color: transparent;}
#myTabTabs.nav-tabs > li.active > a:first-child{border-radius: 6px 0 0;}
/* content tabs*/
#myTabContent{padding:18px 15px;}
/*
/* Clearfix */
.clearfix:before, 
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

/*
/* GENERAL STYLES
/* ------------------------------------- */
.mm-admin {
  background: #fff;
  padding: 0;
  font-size: 14px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #555;
  position: relative;
}


/* 
/* Forms
*/
.mm-admin .btn {
}

.btn-danger {
}

.btn-primary {
}

.mm-admin label,
.mm-admin input,
.mm-admin button,
.mm-admin select,
.mm-admin textarea,
.mm-admin .chzn-container,
.mm-admin .chzn-single {
  border-radius: 0 !important;
  font-size: 14px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* Style chzn for types an styles*/
.multimodule-header .controls .chzn-single,
.multimodule-subheader .controls .chzn-single {height: 32px;line-height: 32px;}

.multimodule-header .controls .chzn-single div b,
.multimodule-subheader .controls .chzn-single div b {background-position: 0 8px;}
.multimodule-header .controls .chzn-container-active.chzn-with-drop .chzn-single div b,
.multimodule-subheader .controls .chzn-container-active.chzn-with-drop .chzn-single div b{background-position: -18px 8px;}


.mm-admin .control-label {
  display: inline-block;
  float: left;
  width: 50% !important;
  text-align: right !important;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.mm-admin .control-label label {
  font-weight: bold;
  display: block;
  margin: 0;
  text-transform: uppercase;
}

.mm-admin.joomla2 .controls {
  padding: 15px 20px !important;
  overflow: auto;
}

/* 
/* Layout
*/
.multimodule-header {
  margin: 0 !important;
  background: #1a3867;
  border-radius: 6px 6px 0 0;
}
.multimodule-header .control-label{
  padding: 18px 15px!important;
}
.multimodule-header .controls{
  padding: 10px 15px;
  display: inline-block;
  margin-left: 0!important;
}

.multimodule-subheader {
  margin: 0!important;
  border-top: 1px solid #1a3867;
  background: #1a3867;
  border-radius: 0 0 6px 6px;
}
.multimodule-subheader .control-label{
  padding: 18px 15px!important;
}
.multimodule-subheader .controls{
  padding: 10px 15px;
  display: inline-block;
  margin-left: 0!important;
}

.multimodule-header label, .multimodule-subheader label {
  color: #ddd;
  font-size: 13px;
}

.multimodule-layout-config {
}

.multimodule-layout-desc {
  padding: 20px;
  background: #ddd;
  margin: 0 0 5px;
  text-align: center;
  border-radius: 0 0 6px 6px;
  line-height: 24px;
  border-top: 1px solid #c1c1c1;
  box-shadow: inset 0 1px 0 0 #eee;
}

/* Form Group */
.multimodule-group {
  padding: 0;
}

.multimodule-group .multimodule-row {
  position: relative;
  margin-top: 10px;
  border-radius: 6px;
  border:1px solid #eee;
}

.multimodule-group .multimodule-row + .multimodule-row {
  margin-top: 45px;
}

.multimodule-group .multimodule-row:nth-child(odd) {
  background-color: #f5f5f5;
}
.multimodule-group .multimodule-row:nth-child(odd) .control-label .spacer {
  background-color: #f5f5f5;
}

.multimodule-group.multimodule-multiple .multimodule-row::before {
  display: block;
  background: #1a3867;
  border-bottom: 1px solid #ddd;
  border-color: #ddd;
  color: #ddd;
  content: "ADDED FIELDSET";
  text-indent: 0;
  line-height: normal;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 0.5px;
  padding: 12px 20px;
  text-align: center;
  border-radius: 6px 6px 0 0;
}

/* For numreic fieldset */
.multimodule-group.multimodule-multiple .multimodule-row:nth-child(2)::before{content: "DEFAULT - FIELDSET 1";}
.multimodule-group.multimodule-multiple .multimodule-row:nth-child(3)::before{content: "ADDED - FIELDSET 2";}
.multimodule-group.multimodule-multiple .multimodule-row:nth-child(4)::before{content: "ADDED - FIELDSET 3";}
.multimodule-group.multimodule-multiple .multimodule-row:nth-child(5)::before{content: "ADDED - FIELDSET 4";}
.multimodule-group.multimodule-multiple .multimodule-row:nth-child(6)::before{content: "ADDED - FIELDSET 5";}
.multimodule-group.multimodule-multiple .multimodule-row:nth-child(7)::before{content: "ADDED - FIELDSET 6";}
.multimodule-group.multimodule-multiple .multimodule-row:nth-child(8)::before{content: "ADDED - FIELDSET 7";}
.multimodule-group.multimodule-multiple .multimodule-row:nth-child(9)::before{content: "ADDED - FIELDSET 8";}
.multimodule-group.multimodule-multiple .multimodule-row:nth-child(10)::before{content: "ADDED - FIELDSET 9";}
.multimodule-group.multimodule-multiple .multimodule-row:nth-child(11)::before{content: "ADDED - FIELDSET 10";}

/*.multimodule-group.multimodule-multiple .multimodule-group-header + .multimodule-row::before {
  content: "DEFAULT FIELDSET";
}*/

/* Row Actions */
.multimodule-row-actions {
  padding: 10px 10px 25px;
  text-align: center;
}

.multimodule-row-actions .btn {
  display: inline-block;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
  border-radius: 0;
  background: #f2f2f2;
  color: #333;
  border: 1px solid #ccc;
  padding: 8px 14px;
  line-height: normal;
  font-size: 14px;
  cursor: pointer;
}

/* Added Row Btn */
.multimodule-group .multimodule-btn-add {
  background:#5BB75B;
  border-color: #51A351;
  color: #FFF;
  text-transform: uppercase;
}

.multimodule-group .multimodule-btn-add:hover {
  background: #51A351;
}

/* Delete Row Btn */
.multimodule-group .multimodule-btn-del {
  display: none;
}

.multimodule-row:hover .multimodule-btn-del {
  display: block;
}


.multimodule-group .multimodule-btn-del {
  position: absolute;
  top: 3px;
  right: 3px;
  background: #c00;
  border-radius: 4px;
  border: 0;
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold !important;
  padding: 10px 15px;
  line-height: normal;
  text-shadow: none !important;
  box-shadow: none !important;
}

.multimodule-group .multimodule-btn-del:hover {
  background: #cf392e;
}


/*
/* Control Group
*/
.multimodule-group .control-group {
  clear: both;
  margin: 0 !important;
  border-top: 1px solid #eee;
  position: relative;
}
.multimodule-group .control-group:nth-of-type(-n+1) {border-top: none;}

/* Group Header*/
.multimodule-group-header {
  background: #1a3867;
  padding: 20px;
  text-align: center;
  margin-top: 20px;
}

.multimodule-group-header .fieldset-title {
  clear: both;
  font-weight: bold;
  color: #fff;
  background: transparent !important;
  padding: 0;
  margin: 0;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.multimodule-group-header .fieldset-desc {
  clear: both;
  padding: 0;
  margin: 10px 0 0;
  color: #ddd;
}


/* Control Label */
.multimodule-group .multimodule-row .control-label {
  display: block;
  width: 200px;
  padding: 14px 15px 0;
  text-align: right;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  min-height: 45px;
}

.multimodule-group .multimodule-row .control-label label {
  margin: 0;
  font-weight: normal;
  color: #555;
  display: inline-block;
  text-transform: none;
}

.multimodule-group .multimodule-row .control-label .spacer{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  line-height: 45px;  
  text-align: center;
  font-weight: bold;
  background-color: #fff;
}

.multimodule-group .multimodule-row .control-label .spacer label{
  font-weight: bold;
}
/* Control */
.multimodule-group .multimodule-row .controls {
  display: inline-block;
  margin-left: 0;
  padding: 10px 15px;
  border-left: 1px solid #eee;
}

.multimodule-layout-config .multimodule-group hr {
	clear: both;
	border: none;
	margin: 20px 0;
}

