/**
 * ------------------------------------------------------------------------
 * Unidisenos Error Template
 * ------------------------------------------------------------------------
 * Copyright (C) 2014-2015 Unidisenos Multimedia Solutions. All Rights Reserved.
 * @license - Copyrighted Commercial Software
 * Author: Unidisenos Multimedia Solutions.
 * Websites:  http://www.unidisenos.com
 * This file may not be redistributed in whole or significant part.
 * ------------------------------------------------------------------------
 */

/* MAIN STYLE
---------------------*/

* {
	box-sizing: border-box;
}
html {
	height: 100%;
}

body {
	font-family: "Oswald",sans-serif;
	font-size: 16px;
	line-height: 1.625;
	height: 100%;
	margin: 0;
}

.page-error {
	position: relative;
}

.error-page-wrap{text-align: center;}
.inner {
	width: 100%;
	padding: 50px 0 50px;
}

/* Eror Code */
.error-code {
	font-size: 240px;
	line-height: 1.2;
	font-weight: bold;
	color: #222;
	text-shadow: 3px 3px 0px #fff, 5px 5px 0px #0BC8F1;
}

/* Message Error */
.error-message {
	font-size: 36px;
	font-weight: bold;
}
.error-message-option{
	font-size: 14px;
	margin-bottom: 30px;
}
.btn-search{padding: 12px 40px;border-radius:4px;border:1px solid #0BC8F1;background-color:#0BC8F1;color: #fff;text-decoration: none;}

.error-search{padding: 0 60px;margin-top: 40px;}
@media (min-width: 992px) and (max-width:1199px){.error-search{padding: 0 200px;}}
@media (min-width:1200px){.error-search{padding: 0 300px;}}
.error-search form{position: relative;}
.error-search form > label{display: none;}
.error-search form > input{width: 100%; padding: 10px 20px;border:1px solid #ddd;box-shadow: none;border-radius: 0px;font-size: 16px; color: #555;height: 42px;border-radius: 4px;}
.error-search form > input:hover,
.error-search form > input:focus{border-color: #0BC8F1;}
.error-search form > button{position: absolute;top: 0; right: 0;height: 100%;background: #0BC8F1;border:1px solid #0BC8F1;color: #fff;cursor: pointer;border-radius: 0 4px 4px 0;font-weight: 600;}

/*Moviles*/
@media (max-width: 480px){
	.error-code{font-size: 120px;}
}