//tabs-1 arlina
.tabs-1{
	.tabs-title{margin:0 0 20px;font-size: 34px; font-weight: 500;color: @white;text-align: center;}
	.tabs-subtitle{text-align: center;margin: 0 0 10px;color: @white;}
	.tabs-intro{text-align: center;color: @white;}
	.nav-tabs{margin-top: 60px;border: none;
		.tab-name{padding: 0;text-align: center;
			a{border: none;border-radius: 0;margin:0;color: @white;padding: 20px 15px;}
			&.active{
				@media screen and (min-width:@screen-md){
					a{padding: 25px 15px;border-bottom: 2px solid @white;box-shadow: 0px 0px 11px 11px rgba(50, 50, 50, 0.75);z-index: 1;
						&:after{content: ""; width: 0; height: 0;border: solid transparent;border-color: transparent;border-top-color: @white;border-width: 11px;position: absolute;top: 100%;left: 50%;margin-left: -11px;}
					}
				}
			}
		}
	}
	.tab-content{padding-top: 90px;padding-bottom: 30px;margin: 0 -15px;
		.tab-pane{
			.tab-image{text-align: center;
				img{max-width: 100%;margin-bottom: 20px;
					@media screen and (max-width:@screen-xs-max){width: 100%;}
				}
			}
			.tab-item{
				.tab-intro{color: @white;}
				.tab-list{color: @gray-light;list-style: none;padding: 0;margin:20px 0;
					li{padding: 0;
						&:before{content: "\f00c";font-family: FontAwesome;color:@brand-primary;position: relative;font-size: 16px;padding-right: 10px;}
					}
				}
				.tab-desc{color: @white;}
			}
		}
	}
}