@import "../../../less/vars.less";
.tabs{background-position: center center; background-size: cover;background-repeat: no-repeat;background-attachment: fixed;
	.tabs-ct{padding: @mm-vertical-padding 0;}
}

 /*===========================
// Import individual style  //
===========================*/
@import "style-1.less";
