.team {
  background-size: cover;
  background-position: center center;
}
.team .team-ct {
  padding: 60px 0;
}
.team-1 {
  position: relative;
}
.team-1 .team-row {
  margin: 0 -15px;
}
.team-1 .team-row .team-item {
  margin-top: 40px;
}
.team-1 .team-row .team-item:nth-child(-n+2) {
  margin-top: 0;
}
@media screen and (max-width: 767px) {
  .team-1 .team-row .team-item:nth-child(2) {
    margin-top: 40px;
  }
}
.team-1 .team-row .team-item .team-image {
  margin-bottom: 20px;
}
.team-1 .team-row .team-item .team-image img {
  width: 100%;
}
.team-1 .team-row .team-item .team-name {
  text-transform: uppercase;
}
.team-1 .team-row .team-item .team-links {
  margin: 0;
  padding: 0;
  list-style: none;
}
.team-1 .team-row .team-item .team-links a {
  display: inline-block;
  text-align: center;
}
.team-1 .team-row .team-item .team-links .btn-custom {
  color: #ffffff;
  background-color: #00cd66;
}

.team-2 {
  position: relative;
}
.team-2 .team-title {
  text-align: center;
  font-weight: 600;
  margin: 0 0 10px;
}
.team-2 .team-title:after {
  content: "";
  width: 30px;
  border-bottom: 4px solid #00cd66;
  display: block;
  margin: 20px auto;
}
.team-2 .team-intro {
  text-align: center;
  margin-bottom: 20px;
}
.team-2 .nav-tabs {
  border: none;
}
.team-2 .nav-tabs li a {
  border: none;
  opacity: 0.75;
}
.team-2 .nav-tabs li a img {
  max-width: 100%;
  border-radius: 50%;
}
.team-2 .nav-tabs li a:hover {
  background-color: transparent;
}
.team-2 .nav-tabs li.active > a {
  background-color: transparent;
  opacity: 1.0;
}
@media screen and (max-width: 767px) {
  .team-2 .nav-tabs li.team-image {
    width: 25%;
  }
  .team-2 .nav-tabs li.team-image a {
    padding: 0;
  }
}
.team-2 .tab-content .tab-pane .team-item {
  margin-top: 40px;
  padding: 0;
}
.team-2 .tab-content .tab-pane .team-item .team-name {
  display: inline-block;
}
.team-2 .tab-content .tab-pane .team-item .team-name h4 {
  font-weight: 600;
  font-size: 18px;
  margin: 0;
}
.team-2 .tab-content .tab-pane .team-item .team-name p {
  text-transform: uppercase;
  font-size: 12px;
  margin: 0;
}
.team-2 .tab-content .tab-pane .team-item .team-name:after {
  content: "";
  width: 40px;
  display: block;
  border-bottom: 1px solid #dddddd;
  margin: 15px 0;
}
.team-2 .tab-content .tab-pane .team-item .team-links {
  margin: 10px 0;
  padding: 0;
  list-style: none;
  float: right;
}
.team-2 .tab-content .tab-pane .team-item .team-links a {
  display: inline-block;
  color: #555555;
  text-align: center;
}
.team-2 .tab-content .tab-pane .team-item .team-links a:hover,
.team-2 .tab-content .tab-pane .team-item .team-links a:focus {
  color: #ffffff;
}
.team-2 .tab-content .tab-pane .team-item .team-links .btn-custom {
  border: 1px solid #dddddd;
  color: #555555;
}
.team-2 .tab-content .tab-pane .team-item .team-links .btn-custom:focus,
.team-2 .tab-content .tab-pane .team-item .team-links .btn-custom:hover {
  background: #00cd66;
  border-color: transparent;
}
.team-3 {
  text-align: center;
}
.team-3 .team-title {
  margin: 0 0 40px;
}
.team-3 .team-intro {
  margin-bottom: 20px;
}
.team-3 .owl-team-3 {
  margin-top: 40px;
}
.team-3 .owl-team-3 .owl-stage-outer {
  margin-bottom: 40px;
}
.team-3 .owl-team-3 .owl-stage-outer .owl-stage .owl-item .item {
  padding: 0 0 30px;
  background: #ffffff;
  text-align: center;
}
.team-3 .owl-team-3 .owl-stage-outer .owl-stage .owl-item .item:after {
  content: "";
  display: block;
  position: absolute;
  top: -100%;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 205, 102, 0.9);
  height: 100%;
  -webkit-transition: all 400ms;
  transition: all 400ms;
}
.team-3 .owl-team-3 .owl-stage-outer .owl-stage .owl-item .item .team-name {
  margin: 15px 0;
  text-transform: uppercase;
}
.team-3 .owl-team-3 .owl-stage-outer .owl-stage .owl-item .item .team-position {
  font-size: 12px;
  text-transform: uppercase;
}
.team-3 .owl-team-3 .owl-stage-outer .owl-stage .owl-item .item .team-experience {
  padding: 15px 20px;
  text-align: center;
  display: block;
}
.team-3 .owl-team-3 .owl-stage-outer .owl-stage .owl-item .item .team-links {
  margin: 15px 0 0;
  padding: 0;
}
.team-3 .owl-team-3 .owl-stage-outer .owl-stage .owl-item .item .team-links a {
  display: inline-block;
}
.team-3 .owl-team-3 .owl-stage-outer .owl-stage .owl-item .item .team-links .btn-custom {
  border: 1px solid #dddddd;
  color: #999999;
}
.team-3 .owl-team-3 .owl-stage-outer .owl-stage .owl-item .item .team-links .btn-custom:hover,
.team-3 .owl-team-3 .owl-stage-outer .owl-stage .owl-item .item .team-links .btn-custom:focus {
  background: #00cd66;
  border-color: transparent;
  color: #ffffff;
}
.team-3 .owl-team-3 .owl-stage-outer .owl-stage .owl-item .item .magnifier {
  position: absolute;
  top: inherit;
  left: 0;
  bottom: -100%;
  right: 0;
  height: 100%;
  opacity: 0.5;
  -webkit-transition: all 600ms;
  transition: all 600ms;
  trasition-delay: 400ms;
  -webkit-transition-delay: 400ms;
  z-index: 2;
}
.team-3 .owl-team-3 .owl-stage-outer .owl-stage .owl-item .item .magnifier .team-name {
  color: #ffffff;
}
.team-3 .owl-team-3 .owl-stage-outer .owl-stage .owl-item .item .magnifier .team-position {
  color: #ffffff;
}
.team-3 .owl-team-3 .owl-stage-outer .owl-stage .owl-item .item .magnifier .team-experience {
  max-height: 200px;
  overflow: hidden;
  color: #ffffff;
}
.team-3 .owl-team-3 .owl-stage-outer .owl-stage .owl-item .item .magnifier .team-links a {
  color: #ffffff;
}
.team-3 .owl-team-3 .owl-stage-outer .owl-stage .owl-item .item:hover:after,
.team-3 .owl-team-3 .owl-stage-outer .owl-stage .owl-item .item:focus:after {
  top: 0;
}
.team-3 .owl-team-3 .owl-stage-outer .owl-stage .owl-item .item:hover .magnifier,
.team-3 .owl-team-3 .owl-stage-outer .owl-stage .owl-item .item:focus .magnifier {
  opacity: 1;
  bottom: 0;
}
.team-3 .owl-theme .owl-dots .owl-dot span {
  width: 12px;
  height: 12px;
  margin: 5px 7px;
  background: #777777;
}
.team-3 .owl-theme .owl-dots .active span,
.team-3 .owl-theme .owl-dots .owl-dot:hover span {
  background: #00cd66;
}
.team-4 {
  text-align: center;
}
.team-4:before,
.team-4:after {
  content: " ";
  display: table;
}
.team-4:after {
  clear: both;
}
.team-4 .team-title {
  font-size: 30px;
  font-weight: 600;
  margin: 0 0 10px;
  color: #ffffff;
}
.team-4 .team-title span:last-child {
  color: #00cd66;
  text-transform: uppercase;
}
.team-4 .team-intro {
  color: #ffffff;
  margin: 20px auto 40px;
}
@media screen and (min-width: 768px) {
  .team-4 .team-intro {
    width: 75%;
  }
}
.team-4 .owl-team-4 .owl-stage-outer {
  margin-bottom: 40px;
}
.team-4 .owl-team-4 .owl-stage-outer .owl-stage .owl-item .item .team-image {
  text-align: center;
  width: 50%;
  margin: 40px auto;
  overflow: hidden;
  -ms-transform: scale(0.8) rotate(45deg);
  -webkit-transform: scale(0.8) rotate(45deg);
  transform: scale(0.8) rotate(45deg);
}
.team-4 .owl-team-4 .owl-stage-outer .owl-stage .owl-item .item .team-image img {
  -ms-transform: scale(1.5) rotate(-45deg);
  -webkit-transform: scale(1.5) rotate(-45deg);
  transform: scale(1.5) rotate(-45deg);
}
.team-4 .owl-team-4 .owl-stage-outer .owl-stage .owl-item .item .team-image:before,
.team-4 .owl-team-4 .owl-stage-outer .owl-stage .owl-item .item .team-image:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: 5px solid #dddddd;
  z-index: 9;
}
.team-4 .owl-team-4 .owl-stage-outer .owl-stage .owl-item .item .team-image:after {
  background: #000000;
  opacity: 0.4;
  border: none;
}
.team-4 .owl-team-4 .owl-stage-outer .owl-stage .owl-item .item .team-image:hover:after,
.team-4 .owl-team-4 .owl-stage-outer .owl-stage .owl-item .item .team-image:focus:after {
  opacity: 0;
}
.team-4 .owl-team-4 .owl-stage-outer .owl-stage .owl-item .item .magnifier {
  margin: 50px auto 0;
  width: 70%;
  color: #ffffff;
}
.team-4 .owl-team-4 .owl-stage-outer .owl-stage .owl-item .item .magnifier .team-name {
  font-size: 30px;
  font-weight: 600;
  margin: 30px 0 0;
}
.team-4 .owl-team-4 .owl-stage-outer .owl-stage .owl-item .item .magnifier .team-position {
  font-size: 14px;
  text-transform: uppercase;
  color: #00cd66;
}
.team-4 .owl-team-4 .owl-stage-outer .owl-stage .owl-item .item .magnifier .team-experience {
  padding: 20px;
  text-align: center;
  display: block;
}
.team-4 .owl-team-4 .owl-stage-outer .owl-stage .owl-item .item .magnifier .team-links {
  margin: 20px 0 0;
  padding: 0;
}
.team-4 .owl-team-4 .owl-stage-outer .owl-stage .owl-item .item .magnifier .team-links a {
  display: inline-block;
}
.team-4 .owl-team-4 .owl-stage-outer .owl-stage .owl-item .item .magnifier .team-links .btn-custom {
  border: 1px solid #dddddd;
  color: #999999;
}
.team-4 .owl-team-4 .owl-stage-outer .owl-stage .owl-item .item .magnifier .team-links .btn-custom:hover,
.team-4 .owl-team-4 .owl-stage-outer .owl-stage .owl-item .item .magnifier .team-links .btn-custom:focus {
  background: #00cd66;
  border-color: transparent;
  color: #ffffff;
}
.team-4 .team-owl-hash {
  margin: 0 -15px;
}
.team-4 .team-owl-hash .team-thumb {
  display: inline-block;
  overflow: hidden;
}
.team-4 .team-owl-hash .team-thumb img {
  width: 100%;
  border: 1px solid #dddddd;
  opacity: 0.5;
}
.team-4 .team-owl-hash .team-thumb img:hover,
.team-4 .team-owl-hash .team-thumb img:focus {
  opacity: 1;
}