.skill {
  background-size: cover;
  background-position: center center;
}
.skill .skill-ct {
  padding: 60px 0;
}
.skill-1 .skill-header .skill-title {
  text-align: left;
}
.skill-1 .skill-header .skill-subtitle {
  text-align: left;
}
.skill-1 .skill-intro {
  text-align: left;
}
.skill-1 .skill-row {
  margin: 40px -15px 0;
}
.skill-1 .skill-row .skill-container .skillbar {
  width: 100%;
  height: 50px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: #eee;
  position: relative;
  margin-bottom: 40px;
  color: #000000;
}
.skill-1 .skill-row .skill-container:last-child .skillbar {
  margin-bottom: 0;
}
.skill-1 .skill-row .skill-container .count-bar {
  position: absolute;
  background-color: #dddddd;
  height: 10px;
  left: 0;
  bottom: 0;
}
.skill-1 .skill-row .skill-container .title {
  padding-left: 12px;
  line-height: 40px;
  text-transform: none;
  font-family: 'Oswald', sans-serif;
}
.skill-1 .skill-row .skill-container .count {
  width: 100%;
  height: 100%;
  position: relative;
}
.skill-1 .skill-row .skill-container .count span {
  position: absolute;
  right: 0;
  top: -40px;
  font-size: 20px;
  font-weight: 700;
  line-height: 40px;
}

.skill-2 .skill-header .skill-title {
  text-align: center;
}
.skill-2 .skill-header .skill-subtitle {
  text-align: center;
}
.skill-2 .skill-intro {
  text-align: center;
}
.skill-2 .skill-row {
  margin: 40px -15px 0;
}
.skill-2 .skill-row .skill-container .skillbar {
  height: 30px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: #eeeeee;
  position: relative;
  margin-bottom: 30px;
  color: #fff;
}
.skill-2 .skill-row .skill-container .count-bar {
  height: 100%;
  width: 0px;
  position: relative;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: #00cd66;
}
.skill-2 .skill-row .skill-container .title {
  font-size: 14px;
  font-weight: 400;
  padding-left: 12px;
  line-height: 30px;
  text-transform: uppercase;
}
.skill-2 .skill-row .skill-container .count {
  position: absolute;
  top: 0;
  right: 12px;
  line-height: 30px;
  font-size: 14px;
  font-weight: 400;
}
.skill-3 .skill-header .skill-title {
  text-align: center;
  margin-bottom: 40px;
}
.skill-3 .skill-header .skill-subtitle {
  text-align: center;
}
.skill-3 .skill-intro {
  text-align: center;
  margin-bottom: 40px;
}
.skill-3 .skill-row {
  margin: 0 -15px -40px;
  overflow: hidden;
}
.skill-3 .skill-row .skill-container {
  text-align: center;
  padding-bottom: 40px;
}
.skill-3 .skill-row .skill-container:nth-last-child(2) {
  border-right: none;
}
@media screen and (max-width: 767px) {
  .skill-3 .skill-row .skill-container {
    border-right: none;
  }
}
.skill-3 .skill-row .skill-container .count-icon {
  position: relative;
}
.skill-3 .skill-row .skill-container .count-icon i {
  font-size: 60px;
  line-height: 36px;
  color: #ffffff;
}
.skill-3 .skill-row .skill-container .count-ctrl {
  padding: 30px 0;
}
.skill-3 .skill-row .skill-container .count-ctrl span {
  font-size: 50px;
  color: #ffffff;
  font-weight: 400;
  line-height: 1.1;
}
.skill-3 .skill-row .skill-container .count-name {
  text-transform: uppercase;
  color: #f7f7f7;
  letter-spacing: 3px;
}
.skill-4 .skill-row {
  margin: 40px -15px 0;
}
.skill-4 .skill-row .skill-container {
  text-align: center;
  padding-top: 40px;
}
.skill-4 .skill-row .skill-container .circliful {
  position: relative;
}
.skill-4 .skill-row .skill-container .circle-text,
.skill-4 .skill-row .skill-container .circle-info,
.skill-4 .skill-row .skill-container .circle-text-half,
.skill-4 .skill-row .skill-container .circle-info-half {
  width: 100%;
  position: absolute;
  text-align: center;
  display: inline-block;
}
.skill-4 .skill-row .skill-container .circle-info,
.skill-4 .skill-row .skill-container .circle-info-half {
  color: #999;
}
.skill-4 .skill-row .skill-container .circliful .fa {
  margin: -10px 3px 0 3px;
  position: relative;
  bottom: 4px;
}