.action {
  background-size: cover;
  background-position: center center;
}
.action .action-ct {
  padding: 60px 0;
}
.action-1 {
  text-align: center;
}
.action-1 .action-title {
  margin: 0 0 20px;
  color: #ffffff;
}
.action-1 .action-intro {
  font-size: inherit;
  color: #ffffff;
}
.action-1 .action-links {
  margin-top: 40px;
}
.action-1 .action-links a {
  margin-left: 20px;
}
.action-1 .action-links a:first-child {
  margin-left: 0;
}
.action-1 .action-links a.btn-default {
  border-color: #ffffff;
  color: #ffffff;
}
.action-1 .action-links a.btn-default:hover,
.action-1 .action-links a.btn-default:focus {
  color: #0bc8f1;
  background-color: #ffffff;
}

.action-2 .action-row {
  margin: 0 -15px;
}
.action-2 .action-row .action-image {
  margin-bottom: 25px;
}
@media screen and (max-width: 767px) {
  .action-2 .action-row .action-image img {
    margin: 0 auto;
  }
}
.action-2 .action-row .pull-left img {
  float: right;
}
@media screen and (max-width: 767px) {
  .action-2 .action-row .pull-left img {
    float: none;
  }
}
.action-2 .action-row .action-content .action-title {
  margin: 0 0 15px;
  font-weight: 700;
  font-size: 30px;
}
.action-2 .action-row .action-content .action-intro {
  font-size: 16px;
}
.action-2 .action-row .action-content .action-links {
  margin-top: 40px;
}
.action-2 .action-row .action-content .action-links a {
  margin-left: 20px;
}
.action-2 .action-row .action-content .action-links a:first-child {
  margin-left: 0;
}
@media screen and (max-width: 767px) {
  .action-2 .action-row .action-content {
    text-align: center;
  }
}