//feature 5
.feature-5{text-align: center;
	.feature-title{margin: 0 0 20px;font-weight: 400;}
	.feature-subtitle{margin-bottom: 15px;font-weight: 400; font-size: 36px;}
	.feature-intro{margin-bottom: 15px;}
	.feature-row{margin-top: 30px;
		.feature-item{padding: 40px 0; border:1px solid @t3-border-color;margin: 0 -1px -1px 0;
			&:hover, &:focus {background: @brand-primary; border-color: @brand-primary;
				.feature-item-ct{
					.feature-icon{
						i{color: @white;}
					}
					.feature-name{color: @white;}
				}
			}
			.feature-item-ct{
				.feature-icon{
					img{max-width: 100%;}
					i{font-size: 38px; color: @brand-secondary;}
				}
				.feature-name{margin:15px 0;color: @text-color; font-size: 14px; text-transform: uppercase;font-weight: 600;}
			}
		}
	}
}