//feature 1
.feature-1{position: relative;
	.feature-title{margin: 0 0 40px;text-align: center;}
	.feature-subtitle{margin: 0 0 20px;}
	.feature-intro{}
	.feature-row{margin: 30px -15px 0;position: relative;overflow: hidden;
		.feature-item{padding-bottom: 30px;
			.feature-icon{display: inline-block;border-radius: 50%;	padding: 20px;background-color: @brand-primary;
				img{max-width: 100%;}
				i{font-size: 36px;color: @white; width: 40px; height: 40px;line-height: 40px;text-align: center;display: block;}
			}
			.feature-name{margin:15px 0; text-transform: uppercase;}
		}
	}
	.feature-image{text-align: center;position: absolute;top: 50%;transform:translateY(-50%);-webkit-transform:translateY(-50%);
		img{max-width: 100%;}
	}
}