//feature 8 //Arlina
.feature-8{text-align: left;
	.feature-row{margin:0 -15px -40px;overflow: hidden;
		.feature-text{
			.feature-title{margin: 0 0 15px;color:@text-color;font-size: 28px; font-weight: 600;}
			.feature-subtitle{margin:0 0 38px;font-size: 18px;font-weight: 400;}
			.feature-intro{margin:0 0 40px;}
			.feature-items-row{margin:0 -15px;
				.feature-item{padding-bottom: 40px;
					.feature-item-ct{
						.feature-icon{display: inline-block;border-radius: 50%;background: @brand-primary;width: 40px; height: 40px; line-height: 40px;text-align: center;position: absolute;
							img{max-width: 100%;}
							i{font-size: 18px; color: @white;}
						}
						.feature-name{margin:0 0 20px;border-bottom: 1px solid @brand-primary;padding: 10px 0 25px 45px;white-space: nowrap;overflow: hidden;text-overflow:ellipsis;text-transform: uppercase;}
						.feature-desc{}
					}
				}
			}
		}
		.feature-image{text-align: center;position: relative;padding-bottom: 40px;
			img{max-width: 100%;}
		}
	}
}