//feature 6
.feature-6{
	.feature-row{margin-bottom: -1px;
		.feature-item{padding: 50px 20px;border-color:@t3-border-color;border-style: solid;border-width: 1px 1px 1px 0;
			&:first-child{border-left: 1px solid @t3-border-color;}
			@media screen and (max-width:@screen-xs-max){display: block!important;margin-bottom: -1px;border-width: 1px;}
			&:hover, &:focus{background: @brand-primary;border-color: @brand-primary;color: @white;
				.feature-item-ct .feature-icon i{color: @white;}
			}
			.feature-title{margin: 0 0 20px;font-size: 28px;font-weight: 600;
			}
			.feature-subtitle{margin: 0 0 20px;font-size: 20px;font-weight: 600;
				&:after {content: ""; width: 40px;display: block;border-bottom:1px solid @t3-border-color;margin: 15px 0;}
			}
			.feature-intro{margin-bottom: 15px;}
			.feature-item-ct{
				.feature-icon{
					img{max-width: 100%;}
					i{font-size: 28px; color: @brand-secondary;}
				}
				.feature-name{margin:15px 0; font-size: 16px; text-transform: capitalize;font-weight: 600;
					&:after {content: ""; width: 40px;display: block;border-bottom:1px solid @t3-border-color;margin: 15px 0;}
				}
				.feature-desc{margin-bottom: 20px;}
			}
		}
		.active{background: @brand-primary;border-color: @brand-primary;color: @white;
			.feature-item-ct .feature-icon i{color: @white;}
		}
		.col-xs-height{display: table-cell;float: none !important;}
	}
	.row-same-height{display: table;width: 100%; table-layout: fixed;}
}