//feature 2
.feature-2{position: relative;
	.feature-header{text-align: center;
		.feature-title{margin:0 0 40px;}
		.feature-subtitle{margin-bottom: 15px;font-weight: 400; font-size: 36px;}
	}
	.feature-intro{margin-bottom: 40px;text-align: center;}
	.feature-row{margin: 0 -15px -40px;overflow: hidden;
		.feature-item{padding-bottom: 40px;
			.feature-item-ct{text-align: center;
				.feature-icon{
					img{max-width: 100%;}
					i{font-size: 75px; color: @brand-secondary;}
				}
				.feature-name{margin:15px 0; text-transform: uppercase;letter-spacing: 3px;}
				.feature-desc{margin: 0;}
				a.btn{margin-top: 20px;}
			}
		}
	}
}