//feature 4
.feature-4{position: relative;
	.feature-header{
		.feature-title{margin: 0 0 20px;}
		.feature-subtitle{margin: 0 0 10px;}
	}
	.feature-intro{margin-bottom: 15px;}
	.feature-row{margin:30px -15px 0;
		.feature-item{
			@media screen and (max-width: @screen-sm-max){padding-bottom: 50px;}
         .feature-item-ct{
				.feature-name{color: @brand-primary; font-size: 16px;font-weight: bold;border-bottom: 1px solid @t3-border-color;padding-bottom: 20px; margin-bottom: 40px; padding-left: 70px; margin-top: 0; position: relative;
					img{max-width: 100%;}
					i{font-size: 24px; color: @brand-secondary;width: 60px; height: 60px; line-height: 60px; border: 1px solid @t3-border-color; border-radius: 50%;position: absolute;top: 5px; left: 0; background: @body-bg;text-align: center;}
				}
				.feature-desc{margin-bottom: 20px;}
			}
		}
	}
} 