@import "../../../less/vars.less";
//Features
.feature{background-position: center center;background-size: cover;
  .feature-ct{padding: @mm-vertical-padding 0;}
}

 /*===========================
// Import individual style  //
===========================*/
@import "style-1.less";
@import "style-2.less";
@import "style-3.less";
@import "style-4.less";
@import "style-5.less";
@import "style-6.less";
@import "style-7.less";
@import "style-8.less";
@import "style-9.less";
@import "style-10.less";
