//feature 9
.feature-9{text-align: center;position: relative;
	.feature-title{margin: 0 0 20px;}
	.feature-subtitle{margin-bottom: 15px;font-weight: 400; font-size: 36px;}
	.feature-intro{margin-bottom: 15px;}
	.owl-feature-9{margin: 30px -15px 0;
		.item{padding-bottom: 50px;
			.feature-item-ct{
				.feature-icon{
					img{max-width: 100%;}
					i{font-size: 75px; color: @brand-secondary;}
				}
				.feature-name{margin:15px 0;color: @brand-primary; font-size: 12px; text-transform: uppercase;}
				.feature-desc{margin-bottom: 20px;}
			}
		}
	}
}