//feature 7 //Arlina
.feature-7{text-align: center;color: @white;
	.feature-row{margin: 0 -15px -40px;overflow: hidden;
		.feature-item{padding-bottom: 40px;
			.feature-title{margin-top: 0;text-align: left;color: @white;}
			.feature-subtitle{text-align: left;}
			.feature-intro{margin-bottom: 15px;text-align: left;}
			.feature-item-ct{
				.feature-icon{display: inline-block;border-radius: 50%;background: fade(@white, 80%);width: 80px; height: 80px; line-height: 90px; box-shadow: 0px 0px 0px 10px rgba(255, 255, 255, 0.4);margin:10px 0 30px;
					img{max-width: 100%;}
					i{font-size: 28px; color: @brand-secondary;}
				}
				.feature-name{margin:0 0 15px;text-transform: uppercase;color: @white;}
				.feature-desc{margin-bottom: 0;}
			}
			&:hover, &:focus{
				.feature-item-ct{
					.feature-icon{background: @white;
						i{color: @brand-primary;}
					}
				}
			}
		}
	}
}