//feature 3
.feature-3{text-align: left;
	.feature-header{
		.feature-title{text-align: center;margin-bottom: 40px;}
		.feature-subtitle{margin: 0 0 20px;}
	}
	.feature-intro{margin-bottom: 15px;}
	.feature-row{margin:0 -15px -40px;overflow: hidden;
		.feature-image{text-align: center;position: relative;padding-bottom: 40px;
			img{max-width: 100%;}
		}
		.feature-item{padding-bottom: 40px;
			.feature-item-ct{
				.feature-icon{display: inline-block;border-radius: 50%; padding: 20px;background: @brand-primary;
					img{max-width: 100%;}
					i{font-size: 36px; color: @white;width: 40px; height: 40px; line-height: 40px;text-align: center;display: block;}
				}
				.feature-name{margin:15px 0; text-transform: uppercase;}
				.feature-desc{margin-bottom: 0;}
			}
		}
	}
}