//feature 10
.feature-10{position: relative;
	.feature-header{
		.feature-title{margin: 0 0 40px;text-align: center;color: @white;}
		.feature-subtitle{margin-bottom: 15px;font-weight: 400; font-size: 36px;}
	}
	.feature-intro{margin-bottom: 15px;}
	.feature-row{margin: 40px -15px -40px;overflow: hidden;
		.feature-item{padding-bottom: 50px;
			.feature-item-ct{
				.feature-icon{display: inline-block;float: left;margin-right: 15px;width: 70px;height: 70px; line-height: 80px;text-align: center;border-radius: 50%;background-color: fade(@black, 30%);
					img{max-width: 100%;}
					i{font-size: 35px; color: @brand-primary;}
				}
				.feature-content{overflow: hidden;
					.feature-name{margin:0 0 15px;color: @white;text-transform: uppercase;}
					.feature-desc{margin-bottom: 0px;color: @white;}
				}
			}
		}
	}
}