@import "../../../less/vars.less";
.default{background-position: center center; background-size: cover;
	.default-ct{padding: @mm-vertical-padding 0;
		.default-1{position: relative;text-align: center;
			.default-header{
				.default-title{}
				.default-subtitle{}
			}
			.default-intro{margin: 0 0 20px;}
		}
	}
}