.hero {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.hero-1 {
  padding: 150px 0;
}
@media screen and (max-width: 767px) {
  .hero-1 .hero-image {
    margin-bottom: 25px;
  }
  .hero-1 .hero-image img {
    margin: 0 auto;
  }
}
.hero-1 .pull-left img {
  float: right;
}
@media screen and (max-width: 767px) {
  .hero-1 .pull-left img {
    float: none;
  }
}
.hero-1 .hero-content {
  margin-top: 20px;
  color: #ffffff;
}
.hero-1 .hero-content .hero-title {
  margin: 0 0 15px;
  font-size: 42px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
}
.hero-1 .hero-content .hero-subtitle {
  margin: 0 0 10px;
  font-size: 30px;
  font-weight: 400;
}
.hero-1 .hero-content .hero-intro {
  font-size: 16px;
}
.hero-1 .hero-content .hero-links {
  margin-top: 40px;
}
.hero-1 .hero-content .hero-links a {
  margin-left: 20px;
}
.hero-1 .hero-content .hero-links a:first-child {
  margin-left: 0;
}
@media screen and (max-width: 767px) {
  .hero-1 .hero-content {
    text-align: center;
  }
}
@media screen and (max-width: 767px) {
  .hero-1 {
    padding: 50px 0;
  }
}
@media screen and (min-width: 1200px) {
  .hero-1 {
    padding: 220px 0;
  }
}

.hero-2 {
  padding: 60px 0;
}
.hero-2 .hero-image {
  text-align: center;
}
.hero-2 .hero-image img {
  display: inline-block;
}
.hero-2 .hero-content {
  margin-top: 20px;
  text-align: center;
}
.hero-2 .hero-content .hero-title {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 36px;
}
.hero-2 .hero-content .hero-intro {
  font-size: 20px;
  font-weight: 300;
}
.hero-2 .hero-content .hero-links {
  margin-top: 40px;
}
.hero-video {
  overflow: hidden;
  height: auto !important;
}
.hero-video .hero-video-wrapper {
  height: 0;
  padding-bottom: 56.25%;
  padding-top: 0;
  position: relative;
}
.hero-video .hero-video-wrapper:before {
  content: "";
  position: absolute;
  background-color: #000000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  opacity: 0.7;
  filter: alpha(opacity=70);
  -webkit-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
.hero-video iframe {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  z-index: 1;
  width: 100%;
}
.hero-video .hero-content {
  color: #ffffff;
  z-index: 3;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  text-align: center;
}
.hero-video .hero-content .hero-title {
  font-size: 36px;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: #ffffff;
}
.hero-video .hero-content .hero-intro {
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 20px;
}
.hero-video .hero-content .hero-links a:first-child {
  margin-right: 20px;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .hero-video .hero-content {
    padding: 115px 20px;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .hero-video .hero-content {
    padding: 60px 20px;
  }
  .hero-video .hero-content .hero-intro {
    display: none;
  }
}
@media screen and (max-width: 479px) {
  .hero-video .hero-content {
    padding: 80px 10px;
  }
  .hero-video .hero-content .hero-title,
  .hero-video .hero-content .hero-intro {
    display: none;
  }
}