.sliders {
  position: relative;
}
.sliders .style-1 .carousel .carousel-inner .carousel-image {
  position: absolute;
  border-radius: 50%;
  border: 2px solid #0077bb;
}
.sliders .style-1 .carousel .carousel-inner .carousel-image img {
  width: 100%;
  height: 100%;
  border: 2px solid #428bca;
}
.sliders .style-1 .carousel .carousel-inner .carousel-caption {
  background: rgba(0, 0, 0, 0.5);
}
@media screen and (min-width: 600px) and (max-width: 767px) {
  .sliders .style-1 .carousel .carousel-inner .carousel-caption {
    top: 25% !important;
  }
}
@media screen and (min-width: 480px) and (max-width: 599px) {
  .sliders .style-1 .carousel .carousel-inner .carousel-caption {
    top: 30% !important;
  }
}
@media screen and (max-width: 479px) {
  .sliders .style-1 .carousel .carousel-inner .carousel-caption {
    display: none;
  }
}
.sliders .style-1 .carousel .carousel-inner .carousel-caption h2 {
  text-transform: uppercase;
  text-shadow: 1px 1px 1px #878787;
  display: inline-block;
  border-bottom: 2px solid #0077bb;
  padding-bottom: 5px;
}
@media screen and (max-width: 599px) {
  .sliders .style-1 .carousel .carousel-inner .carousel-caption p {
    display: none;
  }
}
.sliders .style-1 .carousel .carousel-inner .carousel-btn {
  position: absolute;
  text-align: center;
}
.sliders .style-1 .carousel .carousel-control {
  top: 45%;
  height: 10%;
  width: 10%;
  left: 0;
  bottom: 45%;
  font-size: 36px;
}
.sliders .style-1 .carousel .carousel-control.left {
  background-image: none;
}
.sliders .style-1 .carousel .carousel-control.right {
  left: auto;
  right: 0;
  background-image: none;
}
@media screen and (max-width: 599px) {
  .sliders .style-1 .carousel .carousel-indicators {
    display: none;
  }
}
.sliders .style-1 .carousel .carousel-indicators li {
  background: #428bca;
  border: 1px solid #0077bb;
}
.sliders .style-1 .carousel .carousel-indicators li.active {
  background: #0077bb;
  width: 13px;
  height: 13px;
  border: 1px solid #428bca;
}