.follow-1 .follow-header {
  padding: 45px 0 20px;
}
.follow-1 .follow-header .follow-title {
  margin: 0;
}
.follow-1 .follow-row a {
  text-align: center;
  display: inline-block;
}
.follow-1 .follow-header + .follow-row {
  padding-bottom: 45px;
}

.follow-2 {
  text-align: center;
}
.follow-2 .follow-header {
  padding: 45px 0 20px;
}
.follow-2 .follow-header .follow-title {
  margin: 0;
}
.follow-2 .follow-row .follow-item {
  padding: 35px;
}
.follow-2 .follow-row .follow-item i {
  font-size: 40px;
}
.follow-2 .follow-header + .follow-row {
  padding-bottom: 45px;
}
.follow-3 {
  text-align: center;
}
.follow-3 .follow-header {
  padding: 45px 0 20px;
}
.follow-3 .follow-header .follow-title {
  margin: 0;
}
.follow-3 .follow-row {
  margin: 0 -15px;
}
.follow-3 .follow-row .follow-item a {
  display: block;
  padding: 15px 10px;
  text-decoration: none;
}
.follow-3 .follow-row .follow-item a i {
  font-size: 24px;
}
.follow-3 .follow-row .follow-item a span {
  margin-left: 5px;
  position: relative;
  top: -4px;
  text-transform: uppercase;
}
.follow-3 .follow-header + .follow-row {
  padding-bottom: 45px;
}