.sliders {
  position: relative;
}
.slider-1 .carousel .carousel-inner .item {
  transition: none;
  -webkit-transition: none;
}
.slider-1 .carousel .carousel-inner .item .item-ct {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.slider-1 .carousel .carousel-inner .item .item-ct .item-elements {
  display: -webkit-box;
  display: box;
  box-align: center;
  -webkit-box-align: center;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  height: 100%;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
}
.slider-1 .carousel .carousel-inner .item .item-ct .item-elements.distribute-row {
  box-orient: orizontal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-flow: wrap;
  -ms-flex-flow: wrap;
  flex-flow: wrap;
}
.slider-1 .carousel .carousel-inner .item .item-ct .item-elements.distribute-column {
  box-orient: vertical;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
}
.slider-1 .carousel .carousel-inner .item .item-ct .item-elements.align-start {
  box-pack: start;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.slider-1 .carousel .carousel-inner .item .item-ct .item-elements.align-center {
  box-pack: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.slider-1 .carousel .carousel-inner .item .item-ct .item-elements.align-end {
  box-pack: end;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.slider-1 .carousel .carousel-inner .item .item-ct .item-elements .element-section {
  padding: 0 15px;
  color: #ffffff;
}
.slider-1 .carousel .carousel-inner .item .item-ct .item-elements .element-section h2 {
  font-size: 42px;
  color: #ffffff;
  text-transform: uppercase;
}
.slider-1 .carousel .carousel-inner .item .item-ct .item-elements .element-section h3 {
  color: #ffffff;
  text-transform: uppercase;
}
.slider-1 .carousel .carousel-inner .item .item-ct .item-elements .element-section p {
  font-size: 16px;
}
@media screen and (max-width: 991px) {
  .slider-1 .carousel .carousel-inner .item .item-ct .item-elements .element-section h2 {
    font-size: 36px;
  }
}
.slider-1 .carousel .carousel-inner .item .item-ct .item-elements .element-section a + a {
  margin-left: 10px;
}
.slider-1 .carousel .carousel-inner .item .item-ct .item-elements .duration-1s {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}
.slider-1 .carousel .carousel-inner .item .item-ct .item-elements .duration-2s {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}
.slider-1 .carousel .carousel-inner .item .item-ct .item-elements .duration-3s {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
}
.slider-1 .carousel .carousel-inner .item .item-ct .item-elements .delay-1s {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
.slider-1 .carousel .carousel-inner .item .item-ct .item-elements .delay-2s {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}
.slider-1 .carousel .carousel-inner .item .item-ct .item-elements .delay-3s {
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}
.slider-1 .carousel .carousel-inner .item .item-ct .item-elements .delay-4s {
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
}
.slider-1 .carousel .carousel-inner .item .item-ct .item-elements .delay-5s {
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
}
.slider-1 .carousel .carousel-inner .item .item-ct .item-elements .delay-6s {
  -webkit-animation-delay: 6s;
  animation-delay: 6s;
}
.slider-1 .carousel .carousel-inner .item .item-ct .item-elements .delay-7s {
  -webkit-animation-delay: 7s;
  animation-delay: 7s;
}
.slider-1 .carousel .carousel-inner .item .item-ct .item-elements .delay-8s {
  -webkit-animation-delay: 8s;
  animation-delay: 8s;
}
.slider-1 .carousel .carousel-inner .item .item-ct .item-elements .delay-9s {
  -webkit-animation-delay: 9s;
  animation-delay: 9s;
}
.slider-1 .carousel .carousel-inner .item .item-ct .item-elements .delay-10s {
  -webkit-animation-delay: 10s;
  animation-delay: 10s;
}
.slider-1 .carousel .carousel-inner .item .item-ct .item-elements .delay-11s {
  -webkit-animation-delay: 11s;
  animation-delay: 11s;
}
.slider-1 .carousel .carousel-inner .item .item-ct .item-elements .delay-12s {
  -webkit-animation-delay: 12s;
  animation-delay: 12s;
}
.slider-1 .carousel .carousel-inner .item .item-ct .item-elements .delay-13s {
  -webkit-animation-delay: 13s;
  animation-delay: 13s;
}
.slider-1 .carousel .carousel-inner .item .item-ct .item-elements .delay-14s {
  -webkit-animation-delay: 14s;
  animation-delay: 14s;
}
.slider-1 .carousel .carousel-inner .item .item-ct .item-elements .delay-15s {
  -webkit-animation-delay: 15s;
  animation-delay: 15s;
}
.slider-1 .carousel .carousel-inner .item .item-ct .item-elements .delay-16s {
  -webkit-animation-delay: 16s;
  animation-delay: 16s;
}
.slider-1 .carousel .carousel-inner .item .item-ct .item-elements .delay-17s {
  -webkit-animation-delay: 17s;
  animation-delay: 17s;
}
.slider-1 .carousel .carousel-inner .item .item-ct .item-elements .delay-18s {
  -webkit-animation-delay: 18s;
  animation-delay: 18s;
}
.slider-1 .carousel .carousel-inner .item .item-ct .item-elements .delay-19s {
  -webkit-animation-delay: 19s;
  animation-delay: 19s;
}
.slider-1 .carousel .carousel-inner .item .item-ct .item-elements .delay-20s {
  -webkit-animation-delay: 20s;
  animation-delay: 20s;
}
.slider-1 .carousel .carousel-inner .item .item-ct .item-elements .start {
  -ms-flex-item-align: start;
  -webkit-align-self: flex-start;
  align-self: flex-start;
}
.slider-1 .carousel .carousel-inner .item .item-ct .item-elements .center {
  -ms-flex-item-align: center;
  -webkit-align-self: center;
  align-self: center;
}
.slider-1 .carousel .carousel-inner .item .item-ct .item-elements .end {
  -ms-flex-item-align: end;
  -webkit-align-self: flex-end;
  align-self: flex-end;
}
.slider-1 .carousel .carousel-inner .item .item-ct .item-elements .stretch {
  -ms-flex-item-align: flex-stretch;
  -webkit-align-self: flex-stretch;
  align-self: stretch;
  height: 100%;
  display: -webkit-box;
  -webkit-box-align: center;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
}
.slider-1 .carousel .carousel-inner .item .item-ct .item-elements .w100 {
  width: 100%;
}
.slider-1 .carousel .carousel-inner .item .item-ct .item-elements .w75 {
  width: 75%;
}
.slider-1 .carousel .carousel-inner .item .item-ct .item-elements .w50 {
  width: 50%;
}
.slider-1 .carousel .carousel-inner .item .item-ct .item-elements .w33 {
  width: 33.33%;
}
.slider-1 .carousel .carousel-inner .item .item-ct .item-elements .w25 {
  width: 25%;
}
@media screen and (max-width: 767px) {
  .slider-1 .carousel .carousel-inner .item .item-ct .item-elements .hidden-no {
    -ms-flex-item-align: center;
    -webkit-align-self: center;
    align-self: center;
  }
}
.slider-1 .carousel .carousel-control.middle {
  top: 50%;
  bottom: auto;
  font-size: 36px;
  width: auto;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.slider-1 .carousel .carousel-control.middle.left {
  background-image: none;
  left: 2%;
}
.slider-1 .carousel .carousel-control.middle.right {
  left: auto;
  right: 2%;
  background-image: none;
}
.slider-1 .carousel .carousel-control.center {
  left: 50%;
  right: auto;
  font-size: 36px;
  width: auto;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.slider-1 .carousel .carousel-control.center.left {
  background-image: none;
  bottom: auto;
  top: 2%;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  margin-left: -13px;
}
.slider-1 .carousel .carousel-control.center.right {
  top: auto;
  bottom: 2%;
  background-image: none;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  margin-left: -13px;
}
.slider-1 .carousel .carousel-indicators {
  width: auto;
}
.slider-1 .carousel .carousel-indicators.bottom {
  bottom: 20px;
  left: 50%;
  right: auto;
  margin-left: 0;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.slider-1 .carousel .carousel-indicators.left,
.slider-1 .carousel .carousel-indicators.right {
  margin-left: 0;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.slider-1 .carousel .carousel-indicators.left li,
.slider-1 .carousel .carousel-indicators.right li {
  display: block;
}
.slider-1 .carousel .carousel-indicators.left li + li,
.slider-1 .carousel .carousel-indicators.right li + li {
  margin-top: 10px;
}
.slider-1 .carousel .carousel-indicators.left {
  left: 2%;
  right: auto;
}
.slider-1 .carousel .carousel-indicators.right {
  right: 2%;
  left: auto;
}
@media screen and (max-width: 599px) {
  .slider-1 .carousel .carousel-indicators {
    display: none;
  }
}
.slider-1 .carousel .carousel-indicators li {
  background: #dddddd;
  border: 1px solid #dddddd;
  width: 20px;
  height: 20px;
}
.slider-1 .carousel .carousel-indicators li.active {
  background: #ff4040;
  width: 20px;
  height: 20px;
  border: 1px solid #ff4040;
}

.slider-2 .pogoSlider .pogoSlider-slide .image-container {
  background-size: cover;
  width: 100%;
  height: 100%;
}
.slider-2 .pogoSlider .pogoSlider-slide .content-container {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 0 30px;
}
.slider-2 .pogoSlider .pogoSlider-slide .content-container .caption-container,
.slider-2 .pogoSlider .pogoSlider-slide .content-container .content-image-container {
  position: relative;
  padding: 0 15px;
  float: left;
}
.slider-2 .pogoSlider .pogoSlider-slide .content-container .content-image-container img {
  width: auto;
}
.slider-2 .pogoSlider .pogoSlider-slide .content-container .w50 {
  width: 50% !important;
}
@media screen and (max-width: 767px) {
  .slider-2 .pogoSlider .pogoSlider-slide .content-container .w50 {
    width: 100% !important;
  }
}
.slider-2 .pogoSlider .pogoSlider-slide .content-container .w100 {
  width: 100% !important;
}
.slider-2 .pogoSlider .pogoSlider-slide .content-container .caption-container h1,
.slider-2 .pogoSlider .pogoSlider-slide .content-container .caption-container h2,
.slider-2 .pogoSlider .pogoSlider-slide .content-container .caption-container h3,
.slider-2 .pogoSlider .pogoSlider-slide .content-container .caption-container h4,
.slider-2 .pogoSlider .pogoSlider-slide .content-container .caption-container span,
.slider-2 .pogoSlider .pogoSlider-slide .content-container .caption-container p,
.slider-2 .pogoSlider .pogoSlider-slide .content-container .caption-container strong,
.slider-2 .pogoSlider .pogoSlider-slide .content-container .caption-container b {
  color: #ffffff;
}