@import "../../../less/vars.less";
//Features
.pricing{background-position: center center;background-size: cover;
  .pricing-ct{padding: @mm-vertical-padding 0;}
}

 /*===========================
// Import individual style  //
===========================*/
@import "style-1.less";