//Pricing 1
.pricing-1{position: relative;
	.pricing-title{margin-bottom: 40px;text-align: center;}
	.pricing-subtitle{}
	.pricing-intro{}
	.pricing-row{margin: 0 -15px -40px;overflow: hidden;
		.pricing-item{padding-bottom: 40px;
			&.plan-featured{
				.pricing-item-ct{
					.plan-name{border-color: @brand-primary;
						.name{color: @brand-primary;}
					}
					.plan-price{
						.price{color: @brand-primary;
							small{color: @brand-primary;}
						}
					}
				}
			}
			.pricing-item-ct{padding: @t3-global-padding;border:1px solid @t3-border-color;text-align: center;background-color: @gray-lightest;
				.plan-name{border-bottom: 5px solid @text-color;padding: @t3-global-padding 0;
					.name{margin: 0;text-transform: uppercase;font-family: @headings-font-family;}
				}
				.plan-price{margin-bottom: @t3-global-margin;padding: @t3-global-padding 0;
					.price{font-size: (@font-size-base * 6);font-weight: 600;line-height: 1;margin: 0;
						sup{font-size: @font-size-large;position: relative;top: -40px;left: -5px;}
						small{font-size: @font-size-large;}
					}
					.valid{margin: 0;}
				}
				.plan-info{
					ul{padding: 0;
						li{list-style: none;padding: 0 0 10px;margin: 0 0 10px;border-bottom: 1px solid @t3-border-color;
							&:last-child{border-bottom: none;}
						}
					}
				}
				.plan-link{margin-top: @t3-global-margin;
					a{}
				}
			}
		}
	}
}