//slider-2
.slider-2{
	.pogoSlider{
		.pogoSlider-slide{
			.image-container{background-size: cover;width: 100%; height: 100%;}
			.content-container{position: absolute;top: 0;right: 0; left: 0; bottom: 0;padding:0 30px;
				.caption-container, .content-image-container{position: relative;padding: 0 15px; float: left;}
				.content-image-container img{width: auto;}
				.w50{width: 50%!important;
					@media screen and (max-width: @screen-xs-max){width: 100%!important;}
				}
				.w100{width: 100%!important;}
				.caption-container{
					h1, h2, h3, h4, span, p, strong, b,{color: @white;}
				}
			}
		}
	}
}