// slider 1
.slider-1{
	.carousel{
		.carousel-inner{
			.item{transition:none;-webkit-transition:none;
				.item-ct{position: absolute;top:0;left: 0;right: 0;bottom: 0; 
					.item-elements{
						//Old flexbox
						display: -webkit-box;
						display: box;
						box-align:center;
						-webkit-box-align:center;

						//New Flexbox
						display: -ms-flexbox;
						display: -webkit-flex;
						display: flex;
						height: 100%;
						-webkit-align-items:center;
						-ms-flex-align:center;
						align-items:center;
						overflow: hidden;

						//Distribute content
						&.distribute-row{
							// Old Flexbox
							box-orient:orizontal;
							-webkit-box-orient:horizontal;

							//New Flex
							-webkit-flex-direction:row;
							-ms-flex-direction:row;
							flex-direction:row;
							-webkit-flex-flow:wrap;
							-ms-flex-flow:wrap;
							flex-flow:wrap;
						}
						&.distribute-column{
							// Old Flexbox
							box-orient:vertical;
							-webkit-box-orient:vertical;

							// New Flex
							-webkit-flex-direction:column;
							-ms-flex-direction:column;
							flex-direction:column;
							-webkit-flex-flow:column;
							-ms-flex-flow:column;
							flex-flow:column;
						}

						// Align Vertical an Horizontal content
						&.align-start{
							//Old Felxbox
							box-pack:start;
							-webkit-box-pack:start;
							//New Flex
							-webkit-justify-content:flex-start;
							-ms-flex-pack:start;
							justify-content:flex-start;
						}
						&.align-center{
							//Old Felxbox
							box-pack:center;
							-webkit-box-pack:center;
							//New Flex
							-webkit-justify-content:center;
							-ms-flex-pack:center;
							justify-content:center;
						}
						&.align-end{
							//Old Felxbox
							box-pack:end;
							-webkit-box-pack:end;
							//New Flex
							-webkit-justify-content:flex-end;
							-ms-flex-pack:end;
							justify-content:flex-end;
						}

						.element-section{padding: 0 15px;color: @white;
							h2{font-size: 42px;color: @white;text-transform: uppercase;}
							h3{color: @white;text-transform: uppercase;}
							p{font-size: 16px;}
							@media screen and(max-width:@screen-sm-max){
								h2{font-size: 36px;}
							}
							a + a{margin-left: 10px;}
						}

						// Durations
						.duration-1s{
							-webkit-animation-duration:1s;
								animation-duration:1s;
						}
						.duration-2s{
							-webkit-animation-duration:2s;
								animation-duration:2s;
						}
						.duration-3s{
							-webkit-animation-duration:3s;
							animation-duration:3s;
						}

						// Delays
						.delay-1s{
							-webkit-animation-delay:1s;
							animation-delay:1s;
						}
						.delay-2s{
							-webkit-animation-delay:2s;
							animation-delay:2s;
						}
						.delay-3s{
							-webkit-animation-delay:3s;
							animation-delay:3s;
						}
						.delay-4s{
							-webkit-animation-delay:4s;
							animation-delay:4s;
						}
						.delay-5s{
							-webkit-animation-delay:5s;
							animation-delay:5s;
						}
						.delay-6s{
							-webkit-animation-delay:6s;
							animation-delay:6s;
						}
						.delay-7s{
							-webkit-animation-delay:7s;
							animation-delay:7s;
							
						}
						.delay-8s{
							-webkit-animation-delay:8s;
							animation-delay:8s;
						}
						.delay-9s{
							-webkit-animation-delay:9s;
							animation-delay:9s;
						}
						.delay-10s{
							-webkit-animation-delay:10s;
							animation-delay:10s;
						}
						.delay-11s{
							-webkit-animation-delay:11s;
							animation-delay:11s;
						}
						.delay-12s{
							-webkit-animation-delay:12s;
							animation-delay:12s;
						}
						.delay-13s{
							-webkit-animation-delay:13s;
							animation-delay:13s;
						}
						.delay-14s{
							-webkit-animation-delay:14s;
							animation-delay:14s;
						}
						.delay-15s{
							-webkit-animation-delay:15s;
							animation-delay:15s;
						}
						.delay-16s{
							-webkit-animation-delay:16s;
							animation-delay:16s;
						}
						.delay-17s{
							-webkit-animation-delay:17s;
							animation-delay:17s;
						}
						.delay-18s{
							-webkit-animation-delay:18s;
							animation-delay:18s;
						}
						.delay-19s{
							-webkit-animation-delay:19s;
							animation-delay:19s;
						}
						.delay-20s{
							-webkit-animation-delay:20s;
							animation-delay:20s;
						}

						// Section Vertical Aligns
						.start{
							-ms-flex-item-align:start;
							-webkit-align-self:flex-start;
							align-self:flex-start;
						}
						.center{
							-ms-flex-item-align:center;
							-webkit-align-self:center;
							align-self:center;
						}
						.end{
							-ms-flex-item-align:end;
							-webkit-align-self:flex-end;
							align-self:flex-end;
						}
						.stretch{
							-ms-flex-item-align:flex-stretch;
							-webkit-align-self:flex-stretch;
							align-self:stretch;
							height: 100%;
							display: -webkit-box;
							-webkit-box-align: center;
							display: flex;
							display: -webkit-flex;
							align-items:center;
							-webkit-align-items:center;
							-ms-flex-align:center;
						}

						// Section width
						.w100{width:100%;}
						.w75{width:75%;}
						.w50{width:50%;}
						.w33{width:33.33%;}
						.w25{width:25%;}

						//Hidden
						.hidden-no{
							@media screen and (max-width:@screen-xs-max){
								-ms-flex-item-align:center;
								-webkit-align-self:center;
								align-self:center;
							}
						}
					}
				}
			}
		}
		.carousel-control{
			&.middle{top: 50%;bottom:auto;font-size: 36px;width: auto;-webkit-transform: translateY(-50%);-ms-transform: translateY(-50%);transform: translateY(-50%);
				&.left{background-image: none;left: 2%;}
				&.right{left: auto;right: 2%;background-image: none;}
			}
			&.center{left: 50%;right:auto;font-size: 36px;width: auto;-webkit-transform: translateX(-50%);-ms-transform: translateX(-50%);transform: translateX(-50%);
				&.left{background-image: none;bottom:auto;top: 2%;-webkit-transform: rotate(90deg);-ms-transform: rotate(90deg);transform: rotate(90deg);margin-left: -13px;}
				&.right{top: auto;bottom: 2%;background-image: none;-webkit-transform: rotate(90deg);-ms-transform: rotate(90deg);transform: rotate(90deg);margin-left: -13px;}
			}
		}
		.carousel-indicators{width: auto;
			&.bottom{
				bottom: 20px;
				left: 50%;
				right: auto;margin-left: 0;
				-webkit-transform: translateX(-50%);
				-ms-transform: translateX(-50%);
				transform: translateX(-50%);}
			&.left, &.right{
				margin-left: 0;
				top: 50%;
				bottom: auto;
				-webkit-transform: translateY(-50%);
				-ms-transform: translateY(-50%);
				transform: translateY(-50%);
				li{display: block;}
				li + li{margin-top: 10px;}
			}
			&.left{
				left: 2%;
				right: auto;
			}
			&.right{
				right: 2%;
				left:auto;
			}
			@media screen and (max-width: 599px){display: none;}
			li{background: @gray-lighter;border:1px solid @gray-lighter;width: 20px;height: 20px;
				&.active{background: @brand-primary;width: 20px; height: 20px; border:1px solid @brand-secondary;}
			}
		}  
	}
}