//team-2 tab
.team-2{position: relative;
	.team-title{text-align: center;font-weight: 600;margin:0 0 10px;
		&:after{content: ""; width: 30px; border-bottom:4px solid @brand-primary;display: block;margin: 20px auto;}
	}
	.team-intro{text-align: center;margin-bottom: 20px;}
	.nav-tabs{border: none;
		li{
			a{border: none;opacity: 0.75;
				img{max-width: 100%; border-radius: 50%;}
				&:hover{background-color: transparent;}
			}
			&.active > a{background-color: transparent;opacity: 1.0;}
			&.team-image{
				@media screen and (max-width:@screen-xs-max){width: 25%;
					a{padding: 0;}
				}
			}
		}
	}
	.tab-content{
		.tab-pane{
			.team-item{margin-top: 40px;padding: 0;
				.team-name{display: inline-block;
					h4{font-weight: 600; font-size: 18px;margin: 0;}
					p{text-transform: uppercase;font-size: 12px;margin: 0;}
					&:after{content: ""; width: 40px; display: block;border-bottom: 1px solid @t3-border-color; margin: 15px 0;}
				}          
				.team-links{margin: 10px 0;padding: 0;list-style: none;float: right;
						a{display: inline-block;color: @text-color;text-align: center;
							i{}
							&:hover, &:focus{color: @white;}
						}
						.btn-custom{border: 1px solid @t3-border-color; color: @text-color;
							&:focus,
							&:hover{background: @brand-primary;border-color: transparent;}
						}
				}
				.team-experience{}
			}
		}
	}
}