//team-4 Owl carousel //Musicologo
.team-4{text-align: center;.clearfix();
	.team-title{font-size: @mm-title-font-size; font-weight: 600;margin: 0 0 10px;color: @white;
		span:last-child{color: @brand-primary;text-transform: uppercase;}
	}
	.team-intro{color: @white;margin: 20px auto 40px;
		@media screen and (min-width:@screen-sm){width: 75%;}
	}
	.owl-team-4{
		.owl-stage-outer{margin-bottom: 40px;
			.owl-stage{
				.owl-item{
					.item{
						.team-image{
							text-align: center;
							width: 50%;
							margin: 40px auto;
							overflow: hidden;
							-ms-transform:scale(0.8) rotate(45deg);
							-webkit-transform:scale(0.8) rotate(45deg);
							transform:scale(0.8) rotate(45deg);
							img{
								-ms-transform:scale(1.5) rotate(-45deg);
								-webkit-transform:scale(1.5) rotate(-45deg);
								transform:scale(1.5) rotate(-45deg);
							}
							&:before, &:after {content: "";position: absolute;width: 100%;height: 100%;top: 0;left: 0;border:5px solid @t3-border-color;z-index: 9;}
							&:after{ background: @black;opacity: 0.4;border:none;}
							&:hover, &:focus{
								&:after{opacity: 0;}
							}
						}
						.magnifier{margin: 50px auto 0;width: 70%;color: @white;
							.team-name{font-size: 30px; font-weight: 600;margin:30px 0 0;}
							.team-position{font-size: 14px; text-transform: uppercase;color: @brand-secondary;}
							.team-experience{padding: 20px;text-align: center;display: block;}
							.team-links{margin: 20px 0 0;padding: 0;
								a{display: inline-block;
									i{}
								}
								.btn-custom{border:1px solid @t3-border-color; color: @gray-light;
									&:hover, &:focus{background: @brand-secondary;border-color: transparent;color: @white;}
								}
							}
						}
					}
				}
			}
		}
		.owl-controls{}
	}
	.team-owl-hash{margin: 0 -15px;  
		.team-thumb{ display: inline-block;overflow: hidden;
			img{width: 100%;border:1px solid @t3-border-color;opacity: 0.5;
				&:hover, &:focus {opacity: 1;}
			}
		}
	}
}