@import "../../../less/vars.less";

//Team
.team{background-size: cover;background-position: center center;
  .team-ct{padding: @mm-vertical-padding 0;}
}

 /*===========================
// Import individual style  //
===========================*/
@import "style-1.less";
@import "style-2.less";
@import "style-3.less";
@import "style-4.less";
