//team-1
.team-1{position: relative;
	.team-header{
		.team-title{}
		.team-subtitle{}
	}
	.team-intro{}
	.team-row{margin: 0 -15px;
		.team-item{margin-top: 40px;
			&:nth-child(-n+2){margin-top: 0;}
			@media screen and (max-width:@screen-xs-max){
				&:nth-child(2){margin-top: 40px;}
			}
			.team-image{margin-bottom: 20px;
				img{width: 100%;}
			}
			.team-name{text-transform: uppercase;}
			.team-position{}
			.team-experience{}
			.team-links{margin: 0;padding: 0;list-style: none;
				a{display:inline-block;text-align: center;
					i{}
				}
				.btn-custom{color: @white;background-color: @brand-primary;}
			}
		}
	}
}