//team-3 Owl carousel //Arlina
.team-3{text-align: center;
	.team-title{margin: 0 0 40px;	}
	.team-intro{margin-bottom: 20px;}
	.owl-team-3{margin-top: 40px;
		.owl-stage-outer{margin-bottom: 40px;
			.owl-stage{
				.owl-item{
					.item{padding: 0 0 30px;background:@white;text-align: center;
						&:after{content: "";display: block;position: absolute;top: -100%;left: 0;right: 0;bottom: 0;background: fade(@brand-primary, 90%);height: 100%;-webkit-transition:all 400ms;transition:all 400ms;}
						.team-image{}
						.team-name{margin:15px 0;text-transform: uppercase;}
						.team-position{font-size: 12px; text-transform: uppercase;}
						.team-experience{padding: 15px 20px;text-align: center;display: block;}
						.team-links{margin: 15px 0 0;padding: 0;
							a{display: inline-block;
								i{}
							}
							.btn-custom{border:1px solid @t3-border-color; color: @gray-light;
								&:hover, &:focus{background: @brand-secondary;border-color: transparent;color: @white;}
							}
						}
						.magnifier{
							position:absolute;
							top:inherit;
							left:0;
							bottom:-100%;
							right:0;
							height: 100%;
							opacity:0.5;
							-webkit-transition:all 600ms;
							transition:all 600ms;
							trasition-delay:400ms;
							-webkit-transition-delay:400ms;
							z-index: 2;
							.team-name{color: @white;}
							.team-position{color: @white;}
							.team-experience{max-height: 200px;overflow: hidden;color: @white;}
							.team-links{
								a{color: @white;}
							}
						}
						&:hover, &:focus{
							&:after{top: 0;}
							.magnifier{
								opacity: 1;
								bottom: 0;
							}
						}
					}
				}
			}
		}
		.owl-controls{}
	}
	.owl-theme {
		.owl-dots{
			.owl-dot span{width:12px;height:12px;margin:5px 7px;background:@gray;}
			.active span,.owl-dot:hover span{background:@brand-primary;}
		}
	}
}